<template>
    <div class="user-dashboard">
        <dashboard-subscription />
        <dashboard-visits />
        <people-count />
    </div>
</template>

<script>
export default {
    name: 'Index',
    layout: 'cabinet',
    middleware: ['authenticated'],
};
</script>

<style scoped lang="scss">
.user-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}
</style>
