<template>
    <div>
        <div class="card">
            <payments-table />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Payments',
    layout: 'cabinet',
    middleware: ['authenticated'],
};
</script>

<style scoped>

</style>
