<template>
    <div>
        <div class="card overflow-hidden">
            <v-schedule />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Schedule',
    layout: 'cabinet',
    middleware: ['authenticated'],
};
</script>

<style scoped>

</style>
