<template>
    <div>
        <profile-editor class="mb-4" />
        <password-editor />
    </div>
</template>

<script>

export default {
    name: 'Settings',
    middleware: ['authenticated'],
    layout: 'cabinet',
    head: {
        title: 'Настройки',
        meta: [
            {
                hid: 'description',
                name: 'description',
                content: 'Home page description',
            },
        ],
    },
};
</script>

<style scoped>

</style>
