<template>
    <div>
        <div class="card">
            <cabinet-user-subscription-table />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Subscriptions',
    layout: 'cabinet',
    middleware: ['authenticated'],
};
</script>

<style scoped>

</style>
