<template>
    <div>
        <div class="card">
            <h3>История посещений</h3>
            <user-visits-table />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Visits',
    layout: 'cabinet',
    middleware: ['authenticated'],
};
</script>

<style scoped>

</style>
