<template>
    <v-modal class="schedule-modal"
             width="800px"
             @close="$emit('close')"
    >
        <div class="schedule-modal__layout">
            <div class="schedule-modal__img-wrap">
                <attachment :attachment="schedule.training.image"
                            :best="true"
                            :cover="true"
                            fallback="/icon.png"
                            class="schedule-modal__img"
                />
            </div>
            <div class="schedule-modal__info">
                <div class="schedule-modal__header">
                    <h2 class="mb-0">
                        {{ schedule.training.name }}
                    </h2>
                    <i class="icon-heart schedule-modal__like" />
                </div>
                <div class="d-flex">
                    <div class="mr-3">
                        Время: <span class="lined">{{ c_start }}</span>
                    </div>
                    <div>Место: <span class="lined">{{ schedule.location }}</span></div>
                </div>
                <div v-if="schedule.trainer"
                     class="mt-3"
                >
                    Тренер: <span class="lined">{{ schedule.trainer.lastName }} {{ schedule.trainer.firstName }}</span>
                </div>
                <div v-if="c_hasDescription"
                     class="schedule-modal__description"
                     v-html="schedule.training.description"
                />
            </div>
        </div>
    </v-modal>
</template>

<script>
export default {
    name: 'ScheduleModal',
    props: {
        schedule: {
            type: Object,
            required: true,
        },
    },
    computed: {
        c_start() {
            return this.schedule.startTime.slice(0, -3);
        },
        c_finish() {
            return this.schedule.finishTime.slice(0, -3);
        },
        c_hasDescription() {
            return this.schedule.training.description && this.schedule.training.description.replace(/<[^>]*>?/gm, '').length;
        },
    },
};
</script>

<style scoped lang="scss">
.schedule-modal {
    &::v-deep {
        .modal__container {
            padding: 0;
        }

        .modal__close-button {
            left: 5px;
            right: auto;
            z-index: 10;
        }
    }
}

.schedule-modal__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.schedule-modal__img-wrap {
    position: relative;
    padding-top: 100%;
}

.schedule-modal__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.schedule-modal__info {
    padding: 15px;
    overflow: auto;
    max-height: 400px;

    @include styled-scroll;
}

.schedule-modal__description {
    padding: 10px;
    background: $light;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
}

.schedule-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.schedule-modal__like {
    font-size: 24px;
    color: red;
    display: flex;
    cursor: pointer;

    &:hover {
        color: darken(red, 30%);
    }
}
</style>
