<template>
    <div class="schedule-card"
         @click="d_showModal=true"
    >
        <attachment :attachment="schedule.training.image"
                    class="schedule-card__img"
                    fallback="/icon.png"
                    :cover="true"
        />

        <div class="schedule-card__info">
            <div class="schedule-card__time">
                {{ c_start }}
                <sup>{{ c_finish }}</sup>
            </div>
            <div class="schedule-card__training">
                {{ schedule.training.name }}
            </div>
            <div>
                <template v-if="schedule.trainer">
                    {{ schedule.trainer.lastName }} {{ schedule.trainer.firstName }},
                </template>
                {{ schedule.location }}
            </div>
        </div>
        <schedule-modal v-if="d_showModal"
                        :schedule="schedule"
                        @close="d_showModal = false"
        />
    </div>
</template>

<script>
export default {
    name: 'ScheduleCard',
    props: {
        schedule: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showModal: false,
        };
    },
    computed: {
        c_start() {
            return this.schedule.startTime.slice(0, -3);
        },
        c_finish() {
            return this.schedule.finishTime.slice(0, -3);
        },
    },
};
</script>

<style scoped lang="scss">
.schedule-card {
    display: grid;
    grid-template-columns: 100px auto;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid $light;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    transition: .1s ease-in;
    cursor: pointer;

    &:hover {
        box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.3);
        transform: scale(1.05) rotate(-5deg);
    }
}

.schedule-card__img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 0;
}

.schedule-card__info {
    padding: 10px;
}

.schedule-card__time {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;

    sup {
        font-size: 14px;
        color: $gray;
    }
}

.schedule-card__training {
    font-weight: bold;
}
</style>
