<template>
    <div class="schedule">
        <div class="schedule__nav">
            <v-tabs v-model="d_group"
                    :tabs="c_groups"
            >
                <template #tab="{tab}">
                    {{ tab.name }}
                </template>
            </v-tabs>
            <div ref="slider"
                 class="swiper-container"
            >
                <div class="swiper-wrapper">
                    <div v-for="day in c_days"
                         :key="day.date()"
                         class="swiper-slide schedule-day-slide"
                         :class="{'schedule-day-slide_active': day.isSame(d_date, 'day')}"
                         @click="d_date = day"
                    >
                        <div class="schedule-day-slide__weekday">
                            {{ day.format('dddd') }}
                        </div>
                        <div>
                            {{ day.format('D MMMM') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading-component v-if="$fetchState.pending" />
        <template v-else>
            <div class="schedule__section">
                <h3 class="schedule__section-name">
                    Утро
                </h3>
                <div class="schedule__items">
                    <schedule-card v-for="item in c_morningItems"
                                   :key="item.id"
                                   :schedule="item"
                    />
                </div>
                <p v-if="!c_morningItems.length">
                    Нет утренних занятий.
                </p>
            </div>
            <div class="schedule__section">
                <h3 class="schedule__section-name">
                    День
                </h3>
                <div class="schedule__items">
                    <schedule-card v-for="item in c_dayItems"
                                   :key="item.id"
                                   :schedule="item"
                    />
                </div>
                <p v-if="!c_dayItems.length">
                    Нет дневных занятий.
                </p>
            </div>
            <div class="schedule__section">
                <h3 class="schedule__section-name">
                    Вечер
                </h3>
                <div class="schedule__items">
                    <schedule-card v-for="item in c_eveningItems"
                                   :key="item.id"
                                   :schedule="item"
                    />
                </div>
                <p v-if="!c_eveningItems.length">
                    Нет вечерних занятий.
                </p>
            </div>
        </template>
    </div>
</template>

<script>
import dayjs from 'dayjs';
import isSameOrAfter from 'dayjs/plugin/isSameOrAfter';
import customParseFormat from 'dayjs/plugin/customParseFormat';
import isToday from 'dayjs/plugin/isToday';
import utc from 'dayjs/plugin/utc';
import ru from 'dayjs/locale/ru';
import { Swiper } from 'swiper';

dayjs.locale(ru);
dayjs.extend(utc);
dayjs.extend(isSameOrAfter);
dayjs.extend(isToday);
dayjs.extend(customParseFormat);

export default {
    name: 'VSchedule',
    props: {
        date: {
            type: [String, Object],
            default() {
                return dayjs();
            },
        },
    },
    async fetch() {
        const date = dayjs(this.d_date).toISOString();
        try {
            this.d_items = await this.$api.schedules.fetch({
                date,
                groupId: this.d_group ? this.d_group.id : undefined,
            });
        } catch (e) {
            // eslint-disable-next-line no-console
            console.log(e);
        }
    },
    data() {
        return {
            d_items: [],
            d_date: dayjs(dayjs()),
            d_times: {
                day: dayjs().hour(12).startOf('hour'),
                evening: dayjs().hour(18).startOf('hour'),
            },
            d_group: null,
            d_swiper: null,
        };
    },
    computed: {
        c_days() {
            const iterator = dayjs().utc(true).startOf('day');
            const res = [];
            const daysInMonth = iterator.daysInMonth();
            for (let i = iterator.date(); i <= daysInMonth; i++) {
                res.push(iterator.date(i));
            }
            return res;
        },
        c_morningItems() {
            return this.d_items.filter((i) => {
                const d = dayjs(i.startTime, 'HH:MM:SS');
                return d.isBefore(this.d_times.day);
            });
        },
        c_dayItems() {
            return this.d_items.filter((i) => {
                const d = dayjs(i.startTime, 'HH:MM:SS');
                return d.isBefore(this.d_times.evening) && d.isSameOrAfter(this.d_times.day);
            });
        },
        c_eveningItems() {
            return this.d_items.filter((i) => {
                const d = dayjs(i.startTime, 'HH:MM:SS');
                return d.isSameOrAfter(this.d_times.evening);
            });
        },
        c_groups() {
            return [{
                name: 'Все группы',
                id: undefined,
            }].concat(this.$store.state.groups.items);
        },
    },
    watch: {
        d_group() {
            this.$fetch();
        },
        d_date() {
            this.$fetch();
        },
    },
    mounted() {
        this.d_swiper = new Swiper(this.$refs.slider, {
            direction: 'horizontal',
            slidesPerView: 'auto',
            freeMode: true,
            mousewheel: true,
            releaseOnEdges: false,
            observer: true,
        });
    },
};
</script>

<style scoped lang="scss">
.schedule__nav {
    margin-bottom: 30px;
}

.schedule__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    grid-gap: 15px;
}

.schedule__section + .schedule__section {
    margin-top: 50px;
}

.schedule__section-name {
    display: inline-block;
    border-bottom: 5px solid $primary;
    font-size: 36px;

    @include media-breakpoint-down(md) {
        font-size: 20px;
    }
}

.schedule-day-slide {
    width: auto;
    padding: 15px;
    background: white;
    border: 1px solid $light;
    border-top: none;
    cursor: pointer;

    &:hover {
        background: $light;
    }

    &.schedule-day-slide_active {
        background: $dark;
        color: $primary;

        .schedule-day-slide__weekday {
            color: white;
        }
    }
}

.schedule-day-slide__weekday {
    font-weight: bold;
    text-transform: uppercase;
}
</style>
