<template>
    <div>
        <div class="gallery__header">
            <h4 class="mb-0">
                Галерея
            </h4>
            <v-button @click.native="d_showEditor = true">
                Изменить
            </v-button>
        </div>
        <div class="gallery">
            <attachment v-for="item in d_items"
                        :key="item.id"
                        :attachment="item"
                        :cover="true"
                        class="gallery__image"
            />
        </div>
        <p v-if="!d_loading && !d_items.length">
            В галерее нет изображений
        </p>
        <gallery-editor v-if="d_showEditor"
                        @close="d_showEditor = false"
                        @update="onUpdate"
        />
    </div>
</template>
<script>
import UsesPermissions from 'assets/js/mixins/UsesPermissions';

export default {
    name: 'GalleryImages',
    mixins: [UsesPermissions],
    async fetch() {
        this.d_loading = true;
        this.d_items = await this.$api.galleryImages.fetch();
        this.d_loading = false;
    },
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_items: [],
        };
    },
    methods: {
        onUpdate(promo) {
            this.$fetch();
            this.d_showEditor = false;
        },
    },
};
</script>

<style lang="scss" scoped>
.gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 300px));

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr 1fr;
    }
}

.gallery__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__image {
    height: 200px;

    @include media-breakpoint-down(md) {
        height: 100px;
    }
}
</style>
