<template>
    <v-overlay title="Редактирование галереи"
               @close="$emit('close')"
    >
        <form @submit.prevent="update">
            <div class="mb-4">
                <attach-area-component v-model="d_images"
                                       label="Выберите или перетащите изображения"
                                       sub-label="Формат файла .jpg, .png до 1 МБ"
                                       :error="d_errors.imageId"
                                       :accept="['.jpg', '.jpeg', '.png']"
                                       :max-count="30"
                />
            </div>
            <form-errors class="mb-4"
                         :errors="d_errors"
            />

            <div v-if="!d_loading"
                 class="d-flex justify-content-between mt-3"
            >
                <v-button schema="primary">
                    Сохранить
                </v-button>
            </div>
            <loading-component v-else />
        </form>
    </v-overlay>
</template>

<script>

export default {
    name: 'GalleryEditor',
    async fetch() {
        this.d_images = await this.$api.galleryImages.fetch();
    },
    data() {
        return {
            d_images: [],
            d_loading: false,
            d_showDelete: false,
            d_errors: {},
        };
    },
    methods: {
        async update() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_errors = {};
            try {
                const res = await this.$api.galleryImages.update({ images: this.d_images });
                this.$emit('update', res);
                this.$emit('close');
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
