<template>
    <div class="site-trainer-card">
        <div class="site-trainer-card__image-wrap">
            <attachment class="site-trainer-card__image"
                        :attachment="trainer.image"
                        :cover="true"
            />
        </div>
        <div class="text-center">
            <div class="site-trainer-card__name h4 mb-0">
                {{ trainer.lastName }} {{ trainer.firstName }}
            </div>
            <div class="site-trainer-card__position">
                {{ trainer.position }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SiteTrainerCard',
    props: {
        trainer: {
            type: Object,
            required: true,
        },
    },
};
</script>

<style scoped lang="scss">
.site-trainer-card {
    cursor: pointer;

    &:hover {
        .site-trainer-card__image {
            filter: none;
        }
    }
}

.site-trainer-card__image-wrap {
    position: relative;
    padding-top: 100%;
    margin-bottom: 15px;
}

.site-trainer-card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .2s ease-in;
    filter: grayscale(100);
}
</style>
