<template>
    <div>
        <div class="payments__header">
            <h3 class="mb-0">
                История оплаты
            </h3>
            <v-button @click.native="d_showEditor = true">
                Добавить оплату
            </v-button>
        </div>
        <div class="table">
            <div class="table__head payments__row">
                <div>Дата</div>
                <div>Тип оплаты</div>
                <div>Статус</div>
                <div>Клиент</div>
                <div class="text-md-right">
                    Сумма
                </div>
                <div />
            </div>
            <div v-for="item in d_items"
                 :key="item.id"
                 class="table__row payments__row"
                 role="button"
                 @click="d_showEditor = item"
            >
                <div>{{ formatDate(item.createdAt) }}</div>
                <div>
                    {{ formatPaymentType(item.type) }}
                </div>
                <div>{{ formatPaymentStatus(item.status) }}</div>
                <div>
                    <template v-if="item.user">
                        {{ item.user.lastName }} {{ item.user.firstName }}
                    </template>
                    <template v-else>
                        -
                    </template>
                </div>
                <div class="text-md-right">
                    {{ item.amount }} ₽
                </div>
                <div class="text-right">
                    <i class="icon-edit" />
                </div>
            </div>
        </div>
        <p v-if="!d_loading && !d_items.length">
            Список пуст
        </p>
        <v-pagination v-show="d_count || d_loading"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
        <payment-modal v-if="d_showEditor"
                       :payment="typeof d_showEditor === 'object' ? d_showEditor : null"
                       @store="onStore"
                       @update="onUpdate"
                       @refund="onRefund"
                       @remove="onRemove"
                       @close="d_showEditor = false"
        />
    </div>
</template>
<script>
import { formatDate } from 'assets/js/filters/dayjs';
import { formatPaymentType } from 'assets/js/filters/formatPaymentType';
import { formatPaymentStatus } from 'assets/js/filters/formatPaymentStatus';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'AdminPaymentsTable',
    mixins: [UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
        };
    },
    methods: {
        formatDate,
        formatPaymentType,
        formatPaymentStatus,
        async fetch({ limit, offset }) {
            return await this.$api.payments.fetch({
                limit,
                offset,
            });
        },
        onStore(val) {
            this.d_items.splice(0, 0, val);
        },
        onUpdate(val) {
            const idx = this.d_items.findIndex(i => i.id === val.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1, val);
            }
        },
        onRemove(val) {
            const idx = this.d_items.findIndex(i => i.id === val.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1);
            }
        },
    },
};
</script>

<style lang="scss" scoped>
.payments__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payments__row {
    grid-template-columns: 100px 150px 120px auto 250px 30px;
    grid-gap: 15px;

    &.table__head {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        grid-auto-flow: row !important;
    }
}
</style>
