<template>
    <v-modal title="Оплата"
             overflow="visible"
             @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <el-date-picker v-model="d_payment.createdAt"
                            class="w-100 mb-3"
                            placeholder="Дата платежа"
                            :disabled="d_payment.id"
            />
            <user-select v-model="d_payment.user"
                         class="mb-3"
            />
            <v-select v-model="d_payment.type"
                      :options="['cash', 'terminal']"
                      placeholder="Тип оплаты"
                      class="mb-3"
                      :disabled="d_payment.id"
            >
                <template #singleLabel="{option}">
                    {{ formatPaymentType(option) }}
                </template>
                <template #option="{option}">
                    {{ formatPaymentType(option) }}
                </template>
            </v-select>
            <v-input v-model="d_payment.amount"
                     label="Сумма"
                     class="mb-3"
                     :disabled="d_payment.id"
            />
            <v-select v-model="d_payment.status"
                      :options="['succeeded', 'failed', 'refunded']"
                      placeholder="Статус оплаты"
                      class="mb-3"
            >
                <template #singleLabel="{option}">
                    {{ formatPaymentStatus(option) }}
                </template>
                <template #option="{option}">
                    {{ formatPaymentStatus(option) }}
                </template>
            </v-select>
            <form-errors v-if="d_errors"
                         :errors="d_errors"
                         class="mb-3"
            />
            <loading-component v-if="d_loading" />
            <div v-else
                 class="d-flex justify-content-between"
            >
                <v-button>
                    Сохранить
                </v-button>
                <v-button v-if="c_canRefund"
                          schema="dark"
                          type="button"
                          @click.native="d_showRefundConfirm = true"
                >
                    Возврат средств
                </v-button>
                <!--                <v-button v-if="d_payment.id"-->
                <!--                          type="button"-->
                <!--                          schema="light"-->
                <!--                          @click.native="remove"-->
                <!--                >-->
                <!--                    Удалить-->
                <!--                </v-button>-->
            </div>
        </form>
        <v-notify v-if="d_showRefundConfirm"
                  :confirm="true"
                  :fixed="true"
                  @confirm="refund"
                  @close="d_showRefundConfirm = false"
        >
            Вы уверены, что хотите выполнить возврат <b>{{ payment.amount }}₽</b>? Деньги будут возвращены на карту, с
            которой осуществлялась онлайн оплата.
        </v-notify>
    </v-modal>
</template>

<script>
import PaymentFactory from 'assets/js/factories/PaymentFactory';
import { formatDate } from 'assets/js/filters/dayjs';
import { formatPaymentStatus } from 'assets/js/filters/formatPaymentStatus';
import { formatPaymentType } from 'assets/js/filters/formatPaymentType';

export default {
    name: 'PaymentModal',
    props: {
        payment: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_payment: {
                user: null,
                ...PaymentFactory.create(this.payment),
            },
            d_errors: null,
            d_loading: false,
            d_showRefundConfirm: false,
        };
    },
    computed: {
        c_canRefund() {
            return this.payment && this.payment.type === 'online' && this.payment.status === 'succeeded';
        },
    },
    methods: {
        formatDate,
        formatPaymentStatus,
        formatPaymentType,
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                if (this.payment) {
                    const res = await this.$api.payments.update(this.payment.id, this.d_payment);
                    this.$emit('update', res, this.payment);
                } else {
                    const res = await this.$api.payments.store(this.d_payment);
                    this.$emit('store', res);
                }
                this.$emit('close');
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async remove() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.payments.delete(this.payment.id);
                this.$emit('remove', this.d_payment);
                this.$emit('close');
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async refund() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$api.payments.refund(this.payment.id);
                this.$emit('refund', res);
                this.$emit('close');
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped lang="scss">
</style>
