@mixin styled-scroll {
  @include media-breakpoint-up(lg) {
    &::-webkit-scrollbar {
      width: 15px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $light;
      border-radius: 10px;
      border: 4px solid white;
      &:hover{
        background: $gray;
      }
    }
  }
}

@mixin styled-scroll-dark {
  @include media-breakpoint-up(lg) {
    &::-webkit-scrollbar {
      width: 15px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $light;
      border-radius: 10px;
      border: 4px solid #080523;
      &:hover{
        background: $gray;
      }
    }
  }
}
