<template>
    <div class="site-product-card"
         :class="{'site-product-card_row' : row}"
         @click="d_showModal = true"
    >
        <img class="site-product-card__image"
             :src="product.image.sizes[0].url"
        >
        <div>
            <div class="site-product-card__name h4 mb-0">
                {{ product.name }}
            </div>
            <div class="site-product-card__price text-primary h3">
                {{ c_price }} ₽
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SiteProductCard',
    props: {
        product: {
            type: Object,
            required: true,
        },
        row: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            d_showModal: false,
        };
    },
    computed: {
        c_price() {
            return new Intl.NumberFormat('ru-RU').format(this.product.price);
        },
    },
};
</script>

<style scoped lang="scss">
.site-product-card {
    cursor: pointer;
    text-align: center;

    &:hover {
        .site-product-card__image {
            transform: scale(1.05) rotate(-5deg);
        }
    }
}

.site-product-card__image {
    border-radius: 15px;
    box-shadow: 0 15px 45px -20px #000000ab;
    margin-bottom: 15px;
    transition: .1s ease-in;
    width: 100%;
}

.site-product-card_row {
    display: grid;
    grid-template-columns: 140px auto;
    text-align: left;
    grid-gap: 15px;
    align-items: center;
}
</style>
