<template>
    <v-overlay :title="d_trainer.id ? 'Редактирование тренера' : 'Добавление тренера'"
               @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <div class="mb-4">
                <div class="h4">
                    Общая информация
                </div>
                <attach-area-component v-model="d_trainer.image"
                                       label="Выберите или перетащите изображение"
                                       sub-label="Формат файла .jpg, .png до 1 МБ"
                                       :error="d_errors.imageId"
                                       :accept="['.jpg', '.jpeg', '.png']"
                />
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_trainer.lastName"
                                 label="Фамилия"
                                 :error="d_errors.lastName"
                        />
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_trainer.firstName"
                                 label="Имя"
                                 :error="d_errors.firstName"
                        />
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_trainer.position"
                                 label="Должность"
                                 :error="d_errors.position"
                        />
                    </div>
                </div>
                <h4>Описание</h4>
                <tiptap v-model="d_trainer.description"
                        :editable="true"
                />
            </div>

            <form-errors class="mb-4"
                         :errors="d_errors"
            />

            <div v-if="!d_loading"
                 class="d-flex justify-content-between mt-3"
            >
                <v-button schema="primary">
                    Сохранить
                </v-button>
                <v-button v-if="d_trainer.id"
                          type="button"
                          schema="light"
                          :outline="true"
                          @click.native="d_showDelete = true"
                >
                    Удалить
                </v-button>
            </div>
            <loading-component v-else />
        </form>
        <v-notify v-if="d_showDelete"
                  :confirm="true"
                  type="confirm"
                  :fixed="true"
                  @cancel="d_showDelete = false"
                  @close="d_showDelete = false"
                  @confirm="remove"
        >
            Вы подтверждаете удаление?
        </v-notify>
    </v-overlay>
</template>

<script>
import TrainerFactory from '~/assets/js/factories/TrainerFactory';

export default {
    name: 'TrainerEditor',
    props: {
        trainer: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_trainer: TrainerFactory.create(this.trainer),
            d_loading: false,
            d_showDelete: false,
            d_errors: {},
        };
    },
    methods: {
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_errors = {};
            try {
                if (this.trainer) {
                    const res = await this.$store.dispatch('trainers/update', {
                        id: this.trainer.id,
                        data: this.d_trainer,
                    });
                    this.$emit('update', res);
                } else {
                    const res = await this.$store.dispatch('trainers/store', this.d_trainer);
                    this.$emit('store', res);
                }
                this.$emit('close');
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async remove() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$store.dispatch('trainers/remove', this.trainer.id);
                this.$emit('remove', this.d_trainer);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },

    },
};
</script>

<style scoped>

</style>
