<template>
    <div class="trainer-card">
        <div class="trainer-card__image-wrap">
            <attachment class="trainer-card__image"
                        :attachment="trainer.image"
                        :cover="true"
            />
        </div>
        <div class="text-center">
            <div class="trainer-card__name h4 mb-0">
                {{ trainer.lastName }} {{ trainer.firstName }}
            </div>
            <div class="trainer-card__position">
                {{ trainer.position }}
            </div>
            <v-button v-if="$store.getters['auth/isAdmin']"
                      class="mt-2"
                      @click.native="d_showEditor = true"
            >
                Редактировать
            </v-button>
        </div>
        <trainer-editor v-if="d_showEditor"
                        :trainer="trainer"
                        @close="d_showEditor = false"
                        @update="$emit('update:trainer', arguments[0])"
                        @remove="$emit('remove')"
        />
    </div>
</template>

<script>
export default {
    name: 'TrainerCard',
    props: {
        trainer: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showEditor: false,
        };
    },
};
</script>

<style scoped lang="scss">
.trainer-card {
    &:hover {
        .trainer-card__image {
            filter: none;
        }
    }
}

.trainer-card__image-wrap {
    position: relative;
    padding-top: 100%;
    margin-bottom: 15px;
}

.trainer-card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .2s ease-in;
    filter: grayscale(100);
}
</style>
