<template>
    <v-select ref="select"
              v-model="c_value"
              placeholder="Поиск тренера"
              label="value"
              :searchable="true"
              :options="d_options"
              :loading="d_loading"
              :internal-search="false"
              @search-change="onSearch"
    >
        <template #singleLabel="{option}">
            {{ option.lastName }} {{ option.firstName }}
        </template>
        <template #option="{option}">
            {{ option.lastName }} {{ option.firstName }}
        </template>
    </v-select>
</template>

<script>
import debounce from 'lodash.debounce';

export default {
    name: 'TrainerSelect',
    props: {
        value: {
            type: Object,
            default: null,
        },
        loadId: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {
            d_options: [],
            d_loading: false,
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit('input', val);
            },
        },
    },
    async mounted() {
        if (this.loadId) {
            this.d_loading = true;
            this.c_value = await this.$api.trainers.fetchOne(this.loadId);
            this.d_loading = false;
        }
    },
    methods: {
        debouncedSearch: debounce(async function(val) {
            this.d_options = val
                ? (await this.$api.trainers.fetch({
                    search: val,
                    limit: 999,
                })).results : [];
            this.d_loading = false;
        }, 500),
        onSearch(val) {
            this.d_loading = true;
            this.debouncedSearch(val);
        },
    },
};
</script>

<style scoped>

</style>
