<template>
    <transition-collapse>
        <v-notify v-if="c_show"
                  type="error"
                  @close="d_clickedClose = true"
        >
            <div class="form-errors">
                <ul class="form-errors__list">
                    <li v-for="(error, idx) in c_errors"
                        :key="idx"
                    >
                        {{ error }}
                    </li>
                </ul>
            </div>
        </v-notify>
    </transition-collapse>
</template>

<script>

export default {
    name: 'FormErrors',
    props: {
        errors: {
            type: [Object, Array],
            default() {
                return {};
            },
        },
    },
    data() {
        return {
            d_clickedClose: false,
        };
    },
    computed: {
        c_show() {
            return Object.keys(this.errors).length > 0 && !this.d_clickedClose;
        },
        c_errors() {
            const unwrap = (val) => {
                if (typeof (val) === 'object') {
                    val = Object.values(val);
                }
                if (Array.isArray(val)) {
                    return val.map(unwrap);
                }
                return val;
            };
            return unwrap(this.errors).flat(10);
        },
    },
    watch: {
        errors: {
            deep: true,
            handler() {
                this.d_clickedClose = false;
            },
        },
    },
    mounted() {
        this.d_clickedClose = false;
    },
};
</script>

<style scoped
       lang="scss"
>
.form-errors__list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    li {
        line-height: 1.2;
    }

    li + li {
        margin-top: 8px;
    }
}

.form-errors__list + .form-errors__list {
    margin-top: 8px;
}
</style>
