<template>
    <component :is="tag"
               class="button"
               :class="c_class"
               :style="c_style"
               :type="type"
               v-bind="$attrs"
               :disabled="disabled"
    >
        <span v-if="$slots.iconLeft"
              class="button__icon button__icon_left"
        >
            <slot name="iconLeft" />
        </span>
        <slot />
        <span v-if="$slots.iconRight"
              class="button__icon button__icon_right"
        >
            <slot name="iconRight" />
        </span>
    </component>
</template>

<script>
export default {
    name: 'VButton',
    props: {
        tag: {
            type: String,
            default: 'button',
        },
        schema: {
            type: String,
            default: 'primary',
        },
        type: {
            type: String,
            default: null,
        },
        outline: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        square: {
            type: Number,
            default: null,
        },
    },
    computed: {
        c_class() {
            const res = ['button_' + this.schema];
            if (this.outline) {
                res.push('button_outline');
            }
            if (this.square) {
                res.push('button_square');
            }
            if (this.disabled) {
                res.push('button_disabled');
            }
            return res.join(' ');
        },
        c_style() {
            return this.square ? {
                width: this.square + 'px',
                height: this.square + 'px',
            } : {};
        },
    },
};
</script>

<style lang="scss">

.button {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 12px 25px;
    border: none;
    position: relative;
    min-height: 46px;
    transition: 0.25s;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none !important;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 5px 15px -5px $primary;
    }

    &:focus {
        outline: none;
    }
}

.button__icon {
    line-height: 16px;
    font-size: 16px;
    height: 16px;
    vertical-align: middle;
}

.button__icon_left {
    margin-right: 10px;
}

.button__icon_right {
    margin-left: 10px;
}

.button_primary {
    background: $primary;
    color: white !important;
}

.button_white {
    background: white;
    color: $dark !important;;
    border: 1px solid $light;
}

.button_dark {
    background: $dark;
    color: $primary !important;;
}

.button_transparent {
    background: none;
}

.button_light {
    background: $light;
    color: $dark !important;;
}

.button_primary.button_outline {
    background: transparent;
    color: $dark;
    border: 1px solid $primary;
}

.button_light.button_outline {
    background: transparent;
    color: $dark;
    border: 1px solid $light;
}

.button_square {
    min-height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 14px;
}

.button_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
</style>
