<template>
    <div>
        <feedback-table />
    </div>
</template>

<script>

export default {
    name: 'Feedback',
    middleware: ['authenticated', 'employee'],
    layout: 'admin',
    head: {
        title: 'Обратная связь',
        meta: [
            {
                hid: 'description',
                name: 'description',
                content: 'Home page description',
            },
        ],
    },
};
</script>

<style scoped>

</style>
