<template>
    <div>
        <gallery-images />
    </div>
</template>

<script>
export default {
    name: 'Gallery',
    middleware: ['authenticated', 'employee'],
    layout: 'admin',
    head: {
        title: 'Галерея',
        meta: [
            {
                hid: 'description',
                name: 'description',
                content: 'Home page description',
            },
        ],
    },
};
</script>

<style scoped>

</style>
