<template>
    <div class="dashboard">
        <trainings-today class="dashboard__trainings" />
        <div>
            <visit-stats  class="mb-3"/>
            <people-count />
        </div>

        <!--        <expiring-subscriptions />-->
        <!--        <clients-count />-->
    </div>
</template>

<script>
export default {
    name: 'Index',
    layout: 'admin',
};
</script>

<style scoped lang="scss">
.dashboard {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto 500px;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.dashboard__trainings {
    grid-row: 1/3;
}
</style>
