<template>
    <div>
        <admin-payments-table />
    </div>
</template>

<script>
export default {
    name: 'Payments',
    middleware: ['authenticated', 'employee'],
    layout: 'admin',
};
</script>

<style scoped>

</style>
