<template>
    <div>
        <profile-editor class="mb-4" />
        <password-editor />
        <form class="card"
              @submit.prevent="setCount"
        >
            <h3>
                Количество человек в зале
            </h3>
            <v-input v-model="d_count"
                     class="mb-4"
            />
            <v-button v-if="!d_loading">
                Сохранить
            </v-button>
            <loading-component v-else />
        </form>
    </div>
</template>

<script>

export default {
    name: 'Settings',
    middleware: ['authenticated', 'employee'],
    layout: 'admin',
    data() {
        return {
            d_count: this.$store.state.settings.general.peopleCount,
            d_loading: false,
        };
    },
    methods: {
        async setCount() {
            try {
                this.d_loading = true;
                await this.$store.dispatch('settings/updateGeneral', {
                    peopleCount: this.d_count,
                });
                this.d_loading = false;
            } catch (e) {
                console.error(e);
            }
        },
    },
    head: {
        title: 'Настройки',
        meta: [
            {
                hid: 'description',
                name: 'description',
                content: 'Home page description',
            },
        ],
    },
};
</script>

<style scoped>

</style>
