<template>
    <div>
        <users-table ref="usersTable" />
    </div>
</template>

<script>
export default {
    name: 'Users',
    middleware: ['authenticated', 'employee'],
    data() {
        return {};
    },
    layout: 'admin',
    head: {
        title: 'Пользователь',
        meta: [
            {
                hid: 'description',
                name: 'description',
                content: 'Home page description',
            },
        ],
    },
};
</script>

<style scoped>

</style>
