<template>
    <div class="index-les-mills">
        <div class="container mt-9 d-flex flex-column">
            <div class="row no-gutters mb-3 mb-md-0">
                <div class="col-lg-7 offset-lg-5">
                    <div class="lined-header lined-header__right  text-primary">
                        <div>
                            <h3 class="lined-header__title">
                                LES MILLS
                            </h3>
                            <span class="lined-header_sub text-white">официальные представители направления</span>
                        </div>
                        <span class="lined-header__number">5</span>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-lg-7 offset-lg-5">
                    <p class="mb-3 mb-md-0">
                        Самый популярный вид фитнеса по версии книги Гинесса. <br>
                        <b>6 программ тренировок:</b>
                    </p>

                    <div class="d-flex flex-wrap">
                        <div class="les-mills__activity">
                            <span class="activity__label">BODYBALANCE</span>
                            <p>
                                Тренировка, основанная на упражнениях йоги и направленная на развитие гибкости и
                                укрепление мышечного тонуса
                            </p>
                        </div>
                        <div class="les-mills__activity">
                            <span class="activity__label">THE TRIP</span>
                            <p>
                                40 минутная сайкл-тренировка с погружением в цифровой мир с помощью большого экрана
                                и
                                мощной акустической системы
                            </p>
                        </div>
                        <div class="les-mills__activity">
                            <span class="activity__label">SPRINT</span>
                            <p>Высокоинтенсивная интервальная тренировка на велотренажере</p>
                        </div>
                        <div class="les-mills__activity">
                            <span class="activity__label">CXWORX</span>
                            <p>30 минутная тренировка основных групп мышц</p>
                        </div>
                        <div class="les-mills__activity">
                            <span class="activity__label">BODYPUMP</span>
                            <p>Силовая тренировка со штангой</p>
                        </div>
                        <div class="les-mills__activity">
                            <span class="activity__label">GRIT</span>
                            <p>Серия нескольких 30 минутных высокоинтенсивных тренировок</p>
                        </div>
                        <v-button class="les-mills__button">
                            Подать заявку
                        </v-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexLesMills',
};
</script>

<style scoped lang="scss">
.index-les-mills {
    background: url('/images/les-mills.jpg') no-repeat center left 25%;
    background-color: #000000;
    color: white;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding: 200px 0;
    margin: -200px 0 0 0;
    text-shadow: 1px 1px 1px black;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        padding: 50px 0;
        clip-path: none;
        margin: 0;
        background: linear-gradient(0, rgba(black, 0.6) 0, rgba(black, 0.6) 100%), url('/images/les-mills.jpg') no-repeat center left 25%;
    }

    .les-mills__activity {
        width: 50%;
        padding: 20px;
        font-size: 14px;
        line-height: 20px;

        .activity__label {
            font-size: 18px;
            font-weight: bold;
        }

        &:nth-child(odd) {
            margin-left: -20px;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            margin-bottom: 10px;
            padding: 0;
            &:nth-child(odd) {
                margin-left: 0;
            }
        }
    }

    .les-mills__button {
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}
</style>
