<template>
    <div class="index-gym">
        <div class="container">
            <h2>
                Что такое<br>
                <span class="text-primary">Evolution fit?</span>
            </h2>
            <div class="text-right">
                <div class="lined-header lined-header__right text-primary">
                    <h3 class="lined-header__title">
                        Комфортный зал
                    </h3>
                    <span class="lined-header__number">1</span>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-4">
                        <p class="mb-3">
                            Зал, <strong>общей площадью более 3000&nbsp;м<sup>2</sup></strong> позволил собрать все
                            основные направления занятий спортом и разместить достаточное количество
                            оборудования для избежания очередей.
                        </p>
                        <ul>
                            <li>
                                Большая кардио-зона с электрическими беговыми дорожками и дорожками с магнитным
                                беговым
                                полотном, эллипсоиды, велотренажеры, гребля, степперы;
                            </li>
                            <li>
                                Зал силовых тренировок с высококачественным спортивным оборудованием;
                            </li>
                            <li>Зона единоборств площадью 480 м<sup>2</sup>;</li>
                            <li>
                                3 студии групповых тренировок, укомплектованых новым оборудованием, свободными
                                весами,
                                Step-платформами и ковриками.
                            </li>
                            <li>
                                Зона смешанных боевых искусств со всеми условиями для тренировок и спаррингов.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexGym',
};
</script>

<style scoped lang="scss">
.index-gym {
    background: url('/images/gym.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    margin-bottom: -150px;
    z-index: 3;
    position: relative;
    text-shadow: 1px 1px 1px black;
    padding: 100px 0 200px 0;
    overflow: hidden;

    ul {
        text-align: left;

        li {
            margin-bottom: 15px;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 50px 0;
        clip-path: none;
        margin-bottom: 0;
    }
}
</style>
