<template>
    <div class="index-prices">
        <div class="container">
            <div>
                <div class="h2 lined-header">
                    <span class="lined-header__number">2</span>
                    <h3 class="lined-header__title">
                        Гибкие цены
                    </h3>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>
                            Наш фитнес клуб отличается не только достойным уровнем сервиса, но и демократичными
                            ценами.
                        </p>
                        <p>
                            Мы
                            убеждены в том, что <strong>качественный фитнес должен быть доступен каждому
                                желающему</strong>.
                            Именно поэтому, наши клубные карты являются выгодным предложением
                            для совершенствования тела и укрепления здоровья.
                        </p>
                        <p class="mb-3">
                            Для того, чтобы удовлетворить потребности всех наших клиентов,
                            мы не только создали разнообразные варианты клубных карт,
                            но и ввели дополнительную систему лояльности - вы можете получить
                            приятную скидку уже при первой покупке абонемента.
                        </p>
                        <p class="mb-3">
                            При всём этом, качество наших тренировок гарантированно остается на самом высшем уровне.
                        </p>
                        <v-button to="/cards"
                                  class="btn btn_primary"
                                  tag="nuxt-link"
                        >
                            Посмотреть клубные карты
                        </v-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexPrices',
};
</script>

<style scoped lang="scss">
.index-prices {
    background: url('/images/flexible-prices.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    padding: 200px 0;
    margin-bottom: -200px;
    z-index: 2;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        padding: 50px 0;
        clip-path: none;
        margin-bottom: 0;
    }
}
</style>
