<template>
    <div class="index-trainers">
        <div class="container">
            <div class="text-right">
                <div class="lined-header lined-header__right text-primary">
                    <h3 class="lined-header__title">
                        Опытные тренеры
                    </h3>
                    <span class="lined-header__number">3</span>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-6">
                        <p>
                            Правильно составленная программа тренировок и корректность её выполнения – залог
                            успешного
                            достижения наилучших результатов.
                            <nuxt-link class="text-primary"
                                       to="/trainers"
                            >
                                Более 20 опытных тренеров
                            </nuxt-link>
                            помогут
                            Вам составить
                            индивидуальный
                            комплекс тренировок, с учётом ваших характеристик и желаемых результатов.
                        </p>
                        <p>
                            Наши тренеры и инструкторы будут для Вас не только профессиональными наставниками, но
                            и станут друзьями и товарищами, которые помогут Вам добиться желаемых результатов в
                            обозначенные
                            сроки.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexTrainers',
};
</script>

<style scoped lang="scss">
.index-trainers {
    background: url('/images/trainers.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    padding: 300px 0;
    margin-bottom: -200px;
    text-shadow: 1px 1px 1px black;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        padding: 50px 0;
        clip-path: none;
        margin-bottom: 0;
        background: linear-gradient(0, rgba(black, 0.6) 0, rgba(black, 0.6) 100%), url('/images/trainers.jpg');
        background-size: cover;
        background-position: center;
    }
}
</style>
