<template>
    <div class="index-service">
        <div class="container">
            <div>
                <div class="h2 lined-header">
                    <span class="lined-header__number">4</span>
                    <h3 class="lined-header__title">
                        Качественный сервис
                    </h3>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-3">
                            На территории нашего клуба можно воспользоваться следующими услугами:
                        </p>
                        <ul>
                            <li>
                                <h5>Фитнес-бар</h5>
                                <div>
                                    зона релаксации, где вы можете набраться энергии и восстановить потерянные
                                    витамины
                                    и минералы.
                                </div>
                            </li>
                            <li>
                                <h5>Спортивный магазин</h5>
                                <div>
                                    консультанты магазина всегда готовы помочь в выборе спортивного питания или
                                    подходящего
                                    домашнего инвентаря.
                                </div>
                            </li>
                            <li>
                                <h5>Детская комната</h5>
                                <div>
                                    Увлекательное занятие для ребёнка во время Вашей тренировки.
                                </div>
                            </li>
                            <li>
                                <h5>SPA-зона</h5>
                                <div>
                                    солярий, услуги маникюра, депиляции, все виды массажа и многое другое станут
                                    приятным
                                    дополнением к посещению фитнес клуба.
                                </div>
                            </li>
                            <li>
                                <h5>Турецкий хамам (мужской и женский)</h5>
                                <div>
                                    Турецкая баня поможет вам расслабиться после интенсивной тренировки, улучшит
                                    кровообращение и
                                    укрепит организм в целом.
                                </div>
                            </li>
                            <li>
                                <h5>Мощный солярий с новыми лампами</h5>
                                <div>
                                    Подчеркнуть результаты тренировок можно с помощью ровного загара, полученного в
                                    нашем солярии.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexService',
};
</script>

<style scoped lang="scss">
.index-service {
    background: url('/images/service.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 300px 0;
    overflow: hidden;

    ul {
        padding-left: 0;
        font-size: 14px;
        line-height: 1.2;

        li {
            margin-bottom: 15px;

            h5 {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 50px 0;
        clip-path: none;
        margin-bottom: 0;
    }
}
</style>
