<template>
    <div class="index-children">
        <div class="container d-flex flex-column">
            <div class="row no-gutters">
                <div class="lined-header text-primary">
                    <span class="lined-header__number">6</span>
                    <div>
                        <h3 class="lined-header__title">
                            Занятия для детей
                        </h3>
                        <span class="liner-header__sub text-white">Evolution Fit не только для взрослых!</span>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <span class="h3 text-left w-100">Единоборства</span>
                <div class="col-12 col-lg-8 offset-lg-4 children-activities__fighters">
                    <div class="children-activities__card">
                        <div class="card__label">
                            Тайский бокс
                        </div>
                        Единоборство, включающее в себя ударную технику ногами и руками
                        <div class="children-activities__card-age">
                            С 7 лет
                        </div>
                    </div>
                    <div class="children-activities__card">
                        <div class="card__label">
                            Кикбоксинг
                        </div>
                        Единоборство, включающее в себя ударную технику
                        ногами и руками
                        <div class="children-activities__card-age">
                            С 6 лет
                        </div>
                    </div>
                    <div class="children-activities__card">
                        <div class="card__label">
                            MMA kids
                        </div>
                        Детские занятия по смешанным единоборствам под наблюдением профессиональных тренеров
                        <div class="children-activities__card-age">
                            С 3 лет
                        </div>
                    </div>
                    <div class="children-activities__card">
                        <div class="card__label">
                            Бокс
                        </div>
                        Постановка техники удара руками, защиты корпуса под руководством профессионального тренера
                        <div class="children-activities__card-age">
                            С 7 лет
                        </div>
                    </div>
                </div>
                <span class="h3 text-md-right w-100 mt-5">Авторские курсы</span>
                <div class="col-12 col-lg-8 children-activities__programs ">
                    <div class="children-activities__card">
                        <div class="card__label">
                            Crossfit kids
                        </div>
                        Курс, включающий в себя самые легкие базовые упражнения кроссфита.
                        <div class="children-activities__card-age">
                            С 8 лет
                        </div>
                    </div>
                    <div class="children-activities__card">
                        <div class="card__label">
                            Fitness kids
                        </div>
                        Курс основывается на различных комплексах тренировок с привлечением тренеров по растяжке и
                        единоборствам.
                        <div class="children-activities__card-age">
                            С 10 лет
                        </div>
                    </div>
                    <div class="children-activities__card">
                        <div class="card__label">
                            Юный богатырь
                        </div>
                        Авторский детский и подростковый курс,основанный на занятиях в фитнес-зале.
                        <div class="children-activities__card-age">
                            С 8 лет
                        </div>
                    </div>
                    <div class="children-activities__card">
                        <div class="card__label">
                            Дошколята
                        </div>
                        Развитие и укрепление опорно-двигательной системы, координации, логического мышления и
                        социальных навыков.
                        <div class="children-activities__card-age">
                            С 4 до 8 лет
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexChildren',
};
</script>

<style scoped lang="scss">
.index-children {
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    padding: 0 0 200px 0;

    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }

    .children-activities__fighters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;

        &::before {
            position: absolute;
            left: -70%;
            content: '';
            width: 100%;
            height: 120%;
            background: url("/images/children-fights.jpg") no-repeat;
            background-size: contain;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    .children-activities__programs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;

        &::before {
            position: absolute;
            right: -90%;
            content: '';
            width: 100%;
            height: 120%;
            background: url("/images/children-programs.jpg") no-repeat;
            background-size: contain;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    .children-activities__card {
        width: 45%;
        border: 1px solid $primary;
        position: relative;
        padding: 30px;
        margin-top: 30px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000bd;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        @include media-breakpoint-down(lg) {
            font-size: 16px;
            line-height: 20px;
        }

        .card__label {
            font-size: 30px;
            font-weight: bold;
            position: absolute;
            top: -15px;
            margin: 0 auto;

            left: 0;
            right: 0;
            width: fit-content;
            text-shadow: -0   -5px 0 #000000,
            0   -5px 0 #000000,
            -0 5px 0 #000000,
            0 5px 0 #000000,
            -5px -0 0 #000000,
            5px -0 0 #000000,
            -5px 0 0 #000000,
            5px 0 0 #000000,
            -1px -5px 0 #000000,
            1px -5px 0 #000000,
            -1px 5px 0 #000000,
            1px 5px 0 #000000,
            -5px -1px 0 #000000,
            5px -1px 0 #000000,
            -5px 1px 0 #000000,
            5px 1px 0 #000000,
            -2px -5px 0 #000000,
            2px -5px 0 #000000,
            -2px 5px 0 #000000,
            2px 5px 0 #000000,
            -5px -2px 0 #000000,
            5px -2px 0 #000000,
            -5px 2px 0 #000000,
            5px 2px 0 #000000,
            -3px -5px 0 #000000,
            3px -5px 0 #000000,
            -3px 5px 0 #000000,
            3px 5px 0 #000000,
            -5px -3px 0 #000000,
            5px -3px 0 #000000,
            -5px 3px 0 #000000,
            5px 3px 0 #000000,
            -4px -5px 0 #000000,
            4px -5px 0 #000000,
            -4px 5px 0 #000000,
            4px 5px 0 #000000,
            -5px -4px 0 #000000,
            5px -4px 0 #000000,
            -5px 4px 0 #000000,
            5px 4px 0 #000000,
            -5px -5px 0 #000000,
            5px -5px 0 #000000,
            -5px 5px 0 #000000,
            5px 5px 0 #000000,
            -5px -5px 0 #000000,
            5px -5px 0 #000000,
            -5px 5px 0 #000000,
            5px 5px 0 #000000;
        }
    }

    .children-activities__card-age {
        position: absolute;
        bottom: 0;
        font-size: 14px;
        color: #46ff36;
    }
}
</style>
