<template>
    <div class="index-entry">
        <div class="container">
            <h1>
                <span class="text-primary">Evolution Fit</span>
                <span class="d-block"
                      style="font-size: 36px;line-height: 1"
                >Фитнес клуб в Сургуте</span>
            </h1>
            <h2>
                Доступный спорт<br>в комфортном зале
            </h2>
            <ul class="list-unstyled contacts-group-list">
                <li class="d-flex align-items-center">
                    <i class="icon-location mr-2" />
                    г. Сургут, ул. 30 лет Победы, д. 66
                </li>
                <li class="d-flex align-items-center">
                    <i class="icon-phone mr-2" />
                    <a class="pr-0"
                       href="tel:93-55-50"
                    >93-55-50</a> / <a class="pl-0"
                                       href="tel:93-55-59"
                    >93-55-59</a>
                </li>
                <li class="d-flex align-items-center">
                    <i class="icon-message mr-2" />
                    <a href="mailto:evolution.fit.18@inbox.ru">evolution.fit.18@inbox.ru</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexEntry',
};
</script>

<style scoped lang="scss">
.index-entry {
    background: url('/images/fitness-club.jpg');
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    color: white;

    h1 {
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
    }

    @include media-breakpoint-down(md) {
        padding: 50px 0;
        background: linear-gradient(0, rgba(black, 0.6) 0, rgba(black, 0.6) 100%), url('/images/fitness-club.jpg');
        background-size: cover;
        background-position: center;

        h1 {
            font-size: 42px !important;
        }

        h2 {
            font-size: 24px !important;
        }
    }
}
</style>
