<template>
    <img v-if="!attachment && fallback"
         alt="Нет изображения"
         :src="fallback"
         class="attachment attachment__image"
         :class="{'attachment__image_cover': cover}"
    >
    <div v-else-if="c_isEmbed"
         class="attachment"
         v-html="attachment.url"
    />
    <img v-else-if="c_thumbnail"
         :src="c_thumbnail"
         :alt="attachment.name"
         class="attachment attachment__image"
         :class="{'attachment__image_cover': cover}"
    >
    <div v-else
         class="attachment attachment_extension"
         @click="download"
    >
        <img :src="c_icon"
             class="attachment__icon"
             :alt="attachment.name"
        >
        <div class="attachment__name"
             role="link"
        >
            {{ attachment.name }}
        </div>
        <div class="attachment__info"
             role="link"
        >
            <span class="attachment__extension">{{ c_extension }}</span>, {{ attachment.size }} Б
        </div>
    </div>
</template>

<script>
import downloadFile from '@/assets/js/utils/downloadFile';

export default {
    name: 'Attachment',
    props: {
        attachment: {
            type: Object,
            default: null,
        },
        best: {
            type: Boolean,
            default: false,
        },
        cover: {
            type: Boolean,
            default: false,
        },
        fallback: {
            type: String,
            default: '/no-image.svg',
        },
    },
    computed: {
        c_isEmbed() {
            return this.attachment.type === 'embed';
        },
        c_extension() {
            const arr = this.attachment.url.split('.');
            return arr[arr.length - 1];
        },
        c_thumbnail() {
            if (this.attachment.sizes && this.attachment.sizes.length) {
                const compareFnc = this.best
                    ? (b, a) => a.width - b.width
                    : (a, b) => a.width - b.width;
                return Array.from(this.attachment.sizes)
                    .sort(compareFnc)[0].url;
            } else {
                return null;
            }
        },
        c_icon() {
            return `/file-formats/${this.c_extension}.svg`;
        },
    },
    methods: {
        download() {
            downloadFile(this.attachment.url, this.attachment.name);
        },
    },
};
</script>

<style lang="scss">
@import "assets/sass/variables";

.attachment {
    position: relative;
    user-select: none;
    width: 100%;
    display: flex;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.attachment_extension {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 25px;
}

.attachment__icon {
    width: 60px !important;
    margin-bottom: 50px;
}

.attachment__name {
    font-size: 18px;
    line-height: 20px;
    word-break: break-all;
    margin-top: 5px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.attachment__image {
    word-break: break-all;
    font-size: 12px;
    line-height: 14px;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.attachment__image_cover {
    object-fit: cover;
}

.attachment__extension {
    text-transform: uppercase;
}

.attachment__info {
    font-size: 14px;
    color: $gray;
}
</style>
