<template>
    <div class="container pb-5">
        <h1>Отлично!</h1>
        <div class="row">
            <div class="col-md-6 mb-4">
                <p>
                    Нам нужно еще некоторое время, чтобы завершить онлайн платёж. Новый абонемент появится у вас в
                    личном кабинете через несколько минут.
                </p>
                <p>При первом визите обратитесь к администратору для получения карточки абонемента.</p>
            </div>
        </div>
        <nuxt-link :to="$store.getters['auth/homePage']">
            <v-button schema="primary">
                В личный кабинет
            </v-button>
        </nuxt-link>
    </div>
</template>

<script>
export default {
    name: 'Finish',
};
</script>

<style scoped>

</style>
