<template>
    <div class="container mb-5">
        <h1>Оформление заказа</h1>
        <loading-component v-if="$fetchState.pending" />
        <div v-else
             class="checkout__layout"
        >
            <div v-if="!$store.getters['auth/isAuthenticated']"
                 class="checkout__auth"
            >
                <v-tabs :tabs="['Новый аккаунт', 'Уже есть аккаунт']">
                    <template slot="Новый аккаунт">
                        <sign-up-form />
                    </template>
                    <template slot="Уже есть аккаунт">
                        <sign-in-form :show-restore="false" />
                    </template>
                </v-tabs>
            </div>
            <div v-else
                 class="checkout__user card"
            >
                <h3 class="text-gray">
                    Учетная запись
                </h3>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <div class="font-weight-bold">
                            Телефон
                        </div>
                        <div>{{ c_user.phone }}</div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="font-weight-bold">
                            E-Mail
                        </div>
                        <div>{{ c_user.email || '-' }}</div>
                    </div>
                </div>
                <v-button schema="light"
                          @click.native="$store.dispatch('auth/logout')"
                >
                    Сменить учетную запись
                </v-button>
            </div>
            <div class="card">
                <h3 class="text-gray">
                    Состав заказа
                </h3>
                <div class="checkout-subscription">
                    <attachment class="checkout-subscription__image"
                                :best="true"
                                :attachment="d_subscription.image"
                    />
                    <div>
                        <div class="h4 mb-1">
                            {{ d_subscription.name }}
                        </div>
                        <div class="mb-3">
                            <div><span class="lined">Дней:</span> {{ d_subscription.daysCount }}</div>
                            <div>
                                <span class="lined">Занятий:</span> {{ d_subscription.useCount || 'без ограничений' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="c_user"
                 class="checkout_results card"
            >
                <h3>Сумма к оплате: <span class="text-primary">{{ c_price }} ₽</span></h3>
                <div class="small text-gray">
                    <p>
                        Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных
                        систем
                        Visa, MasterCard и Платежной системы МИР на принципах соблюдения конфиденциальности и
                        безопасности
                        совершения платежа, для чего используются самые современные методы проверки, шифрования и
                        передачи
                        данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной
                        платежной
                        странице АО БАНК «СНГБ».
                    </p>
                    <p>
                        На странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер
                        карты,
                        имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2 для
                        MasterCard, Код Дополнительной Идентификации для МИР). Все необходимые данные пропечатаны на
                        самой
                        карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты.
                    </p>
                    <p>
                        Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской
                        карты)
                        является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются
                        только в
                        зашифрованном виде и не сохраняются на нашем Web-сервере.
                    </p>
                    <p>
                        Оплата происходит с использование банковских карт следующих платежных систем:
                    </p>
                    <ul>
                        <li>МИР</li>
                        <li>VISA International</li>
                        <li>Mastercard Worldwide</li>
                    </ul>
                </div>
                <transition-collapse>
                    <div v-if="d_errors"
                         class="card"
                    >
                        <h3>😲 ОЙ!</h3>
                        <p>
                            Что-то пошло не так. Надеемся, что наши специалисты уже занимаются этой проблей. В случае,
                            если данная
                            проблема повторяется в течение нескольких часов, обратитесь к администратору по телефону <a
                                href="tel:83462935550"
                            >93-55-50</a>.
                        </p>
                        <v-button schema="dark"
                                  class="mt-3"
                                  @click.native="showFeedbackModal"
                        >
                            Оставить обращение
                        </v-button>
                    </div>
                </transition-collapse>
                <loading-component v-if="d_loading" />
                <v-button v-else-if="!d_errors"
                          @click.native="buy"
                >
                    Оплатить
                </v-button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'Buy',
    async fetch() {
        this.d_subscription = await this.$api.subscriptions.fetchOne(this.$route.query.subscription);
    },
    data() {
        return {
            d_subscription: null,
            d_errors: null,
            d_loading: false,
        };
    },
    computed: {
        c_price() {
            return new Intl.NumberFormat('ru-RU').format(this.d_subscription.price);
        },
        c_user() {
            return this.$store.state.auth.user;
        },
    },
    methods: {
        async buy() {
            this.d_loading = true;
            this.d_errors = false;
            try {
                const res = await this.$api.subscriptions.buy(this.d_subscription.id);
                window.location.href = res.url;
            } catch (e) {
                this.d_errors = true;
                this.d_loading = false;
            }
        },
        showFeedbackModal() {
            window.showFeedbackModal();
        },
    },
};
</script>

<style scoped lang="scss">
.checkout-subscription {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 30px;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

.checkout-subscription__image {
    border-radius: 10px;
}

.checkout-subscription__description {
    background: $light;
    border-radius: 10px;
    padding: 15px;
}

.checkout__layout {
    display: grid;
    grid-template-columns: auto 450px;
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.checkout__auth {
    overflow: hidden;
}

.checkout_results {
    grid-column: 1/3;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }
}
</style>
