<template>
    <aside class="sidebar"
           :class="{sidebar_open: d_open}"
    >
        <nuxt-link class="sidebar__title"
                   to="/"
        >
            <img src="/logo-small.svg"
                 alt="Evolution-Fit"
                 class="sidebar__logo"
            >
            Evolution-Fit
        </nuxt-link>
        <i class="icon-dots sidebar__burger"
           @click="d_open = !d_open"
        />
        <div class="sidebar__content">
            <ul class="sidebar__list">
                <li v-for="item in d_items"
                    :key="item.name"
                >
                    <nuxt-link class="sidebar__link"
                               :to="item.url"
                               exact-path
                    >
                        <i :class="item.icon"
                           class="sidebar__link-icon"
                        />
                        {{ item.name }}
                    </nuxt-link>
                </li>
            </ul>

            <div class="sidebar__footer">
                <nuxt-link class="sidebar__link sidebar__link_footer"
                           to="/logout"
                >
                    <i class="sidebar__link-icon icon-logout" />
                    Выйти
                </nuxt-link>
                <nuxt-link class="sidebar__link sidebar__link_footer sidebar__profile icon-settings"
                           to="/admin/settings"
                />
            </div>
        </div>
    </aside>
</template>

<script>

export default {
    name: 'AdminSidebar',
    data() {
        return {
            d_items: [
                {
                    name: 'Главная',
                    icon: 'icon-dashboard',
                    url: '/admin',
                },
                {
                    name: 'Оплата',
                    icon: 'icon-card',
                    url: '/admin/payments',
                },
                {
                    name: 'Посещения',
                    icon: 'icon-walk',
                    url: '/admin/visits',
                },
                {
                    name: 'Занятия',
                    icon: 'icon-body',
                    url: '/admin/trainings',
                },
                {
                    name: 'Группы',
                    icon: 'icon-group',
                    url: '/admin/groups',
                },
                {
                    name: 'Пользователи',
                    icon: 'icon-user',
                    url: '/admin/users',
                },
                {
                    name: 'Тренеры',
                    icon: 'icon-user',
                    url: '/admin/trainers',
                },
                {
                    name: 'Абонементы',
                    icon: 'icon-subscription',
                    url: '/admin/subscriptions',
                },
                {
                    name: 'Товары',
                    icon: 'icon-subscription',
                    url: '/admin/products',
                },
                {
                    name: 'Галерея',
                    icon: 'icon-image',
                    url: '/admin/gallery',
                },
                {
                    name: 'Акции',
                    icon: 'icon-promo',
                    url: '/admin/promos',
                },
                {
                    name: 'Обратная связь',
                    icon: 'icon-feedback',
                    url: '/admin/feedback',
                },
            ],
            d_open: false,
        };
    },
    computed: {
        c_selectValue: {
            get() {
                return this.d_items.find(item => item.url === this.$route.fullPath);
            },
            set(val) {
                this.$router.push(val.url);
            },
        },
        c_mobileItems() {
            return this.d_items.concat([
                {
                    name: 'Выйти',
                    url: '/logout',
                },
            ]);
        },
    },
    watch: {
        '$route.name'() {
            this.d_open = false;
        },
    },
};
</script>

<style lang="scss"
       scoped>
@import "assets/sass/components/sidebar";
</style>
