.dev-banner {
    color: white;
    opacity: 0.5;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    z-index: 100;
    font-weight: 400;
    display: block;
    margin-top: 15px;

    &:hover {
        opacity: 1;
    }
}
