@import "../variables";

.lined-header {
  position: relative;
  display: inline-flex;
  padding-bottom: 30px;
  align-items: center;
  margin-bottom: 30px;

  .lined-header__number {
    font-size: 128px;
    vertical-align: middle;
    line-height: 1;
    margin-right: 30px;
    font-weight: bold;

    @include media-breakpoint-down(md){
      font-size: 36px;
    }
  }

  .lined-header__title {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1.2;

    @include media-breakpoint-down(md){
      font-size: 18px;
    }
  }

  &:after {
    position: absolute;
    content: "";
    background: $dark;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 10000%;
  }

  &.text-primary {
    &:after {
      background-color: $primary;
    }
  }

  &.lined-header__right {
    .lined-header__number {
      margin-right: 0;
      margin-left: 30px;
    }

    &:after {
      left: 0;
      right: auto;
    }
  }
}