.card {
  padding: 40px;
  border: 1px solid $light;
  border-radius: 10px;
  background: white;

  @include media-breakpoint-down(md) {
    padding: 15px;
  }

  &.card_sm {
    padding: 15px;
  }
}
