.sidebar {
  background: #080523;
  color: white;
  border-radius: 15px;
  overflow: auto;
  margin: 15px 0 15px 15px;
  left: 0;
  top: 0;
  position: fixed;
  height: calc(100% - 30px);
  width: 300px;
  display: flex;
  flex-direction: column;

  &.sidebar_open {
    .sidebar__burger {
      transform: rotate(-90deg);
      color: $primary;
    }

    .sidebar__content {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-down(md) {
    position: static;
    padding: 0;
    background: none;
    margin: 0;
    height: auto;
  }

  .sidebar__content {
    overflow: auto;
    margin-bottom: 70px;
    @include styled-scroll-dark;

    @include media-breakpoint-down(md) {
      transition: .3s ease-in;
      transform: translateX(-100%);
      background: #080523;
      position: fixed;
      z-index: 10;
      top: 70px;
      width: 100%;
      left: 0;
      height: calc(100% - 70px);
      overflow: auto;
      padding-bottom: 0;
    }
  }

  .sidebar__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar__list {
    display: grid;
  }

  .sidebar__link {
    color: white;
    font-size: 14px;
    line-height: 16px;
    display: block;
    padding: 15px 15px;
    margin: 0 15px;
    transition: .2s ease-in;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  .sidebar__link_footer {
    margin: 0;
    padding: 0;
  }

  .sidebar__link.nuxt-link-exact-active {
    background: white;
    color: #080523;
    border-radius: 15px;
  }

  .sidebar__select-exit {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $light;
    margin: -12px;
    padding: 12px;
    color: $gray;
  }

  .sidebar__title {
    padding: 15px 30px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    color: $light;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #080523;
      z-index: 10;
    }

    &:hover {
      text-decoration: none;
      color: $primary;

      .sidebar__logo {
        transform: scale(1.1);
      }
    }
  }

  .sidebar__burger {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 25px;
    transition: .1s ease-in;
    width: 60px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .sidebar__logo {
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
    transition: .1s ease-in;
  }

  .sidebar__link-icon {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 18px;
  }

  .sidebar__footer {
    background: #140e46;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 15px 10px 30px;
    margin: 0;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;

    @include media-breakpoint-down(md) {
      position: static;
      margin-top: 30px;
    }
  }

  .sidebar__profile {
    font-size: 24px;
    line-height: 24px;
    background: white;
    color: black;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.nuxt-link-active {
      border-radius: 50%;
      background: $primary;
      color: $light;
    }
  }
}
