<template>
    <div v-show="d_items.length"
         class="promos"
    >
        <div class="container">
            <div ref="swiper"
                 class="swiper-container promos__slider"
            >
                <div class="swiper-wrapper align-items-center">
                    <div v-for="item in d_items"
                         :key="item.id"
                         class="swiper-slide"
                    >
                        <v-promo :promo="item" />
                    </div>
                </div>
                <div class="swiper-pagination" />
            </div>
        </div>
    </div>
</template>

<script>
import { Swiper } from 'swiper';

export default {
    name: 'IndexPromos',
    async fetch() {
        this.d_items = (await this.$api.promos.fetch({ ordering: '-updated_at' })).results;
    },
    data() {
        return {
            d_items: [],
            d_swiper: null,
        };
    },
    mounted() {
        this.d_swiper = new Swiper(this.$refs.swiper, {
            observer: true,
        });
    },
};
</script>

<style scoped lang="scss">
.promos__slider {
    padding: 100px 0;

    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
}

.promo__image {
    box-shadow: 0 30px 50px -25px #00000052;
}
</style>
