<template>
    <div class="promo">
        <div class="row">
            <div class="col-12 col-md-5 d-flex align-items-center">
                <img :src="promo.image.sizes[0].url"
                     class="promo__image"
                     :alt="promo.name"
                >
            </div>
            <div
                class="col-12 col-md-7 d-flex flex-column align-items-start justify-content-center"
            >
                <div class="bg-brush">
                    <div class="h3">
                        {{ promo.name }}
                    </div>
                </div>
                <div class="mb-4"
                     v-html="promo.description"
                />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'VPromo',
    props: {
        promo: {
            type: Object,
            required: true,
        },
    },
};
</script>

<style scoped>

</style>
