<template>
    <v-modal title="Восстановление пароля"
             :closable="closable"
             @close="$emit('close')"
    >
        <v-input v-model="d_email"
                 class="mb-4"
                 label="Электронная почта"
        />
        <form-errors v-if="d_errors"
                     :errors="d_errors"
                     class="mb-3"
        />
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <loading-component v-if="d_loading" />
            <v-button v-else
                      schema="primary"
                      class="mb-3 mb-md-0"
                      @click.native="restore"
            >
                Восстановить пароль
            </v-button>
            <span role="button"
                  class="link link_primary"
                  @click="$emit('goto', {component: 'signin'})"
            >Я вспомнил пароль</span>
        </div>
    </v-modal>
</template>

<script>
export default {
    name: 'RestorationModal',
    props: {
        closable: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            d_email: null,
            d_loading: false,
            d_errors: false,
        };
    },
    methods: {
        async restore() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.auth.resetPassword({
                    email: this.d_email,
                });
                this.$emit('goto', {
                    component: 'restoration-complete',
                    data: {
                        email: this.d_email,
                    },
                });
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
