<template>
    <v-modal :title="c_title"
             :closable="closable"
             @close="$emit('close')"
    >
        <sign-up-form v-if="!d_registered"
                      @submit.prevent="register"
                      @register="d_registered = true"
        />
        <template v-if="!d_registered"
                  #footer
        >
            Уже регистрировались?
            <span role="button"
                  class="link link_dark link_dashed ml-1"
                  @click="$emit('goto', {component: 'signin'})"
            >Войдите</span>
        </template>
        <template v-if="d_registered">
            <p class="mb-3">
                Вы успешно зарегистрировались. На электронную почту отправлено письмо с ссылкой для активации аккаунта.
            </p>
            <nuxt-link class="mt-3"
                       :to="c_homeLink"
            >
                <v-button type="primary"
                          @click.native="$emit('close')"
                >
                    В личный кабинет
                </v-button>
            </nuxt-link>
        </template>
    </v-modal>
</template>

<script>

export default {
    name: 'SignUpModal',
    props: {
        closable: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            d_registered: false,
            d_errors: {},
        };
    },
    computed: {
        c_title() {
            return this.d_registered ? 'Отлично!' : 'Регистрация';
        },
        c_homeLink() {
            return this.$store.getters['auth/homePage'];
        },
    },
};
</script>

<style scoped>

</style>
