<template>
    <form @submit.prevent="login">
        <v-masked-input v-model="d_auth.phone"
                        class="mb-4"
                        mask="+7(###)###-##-##"
                        placeholder="+7(___)___-__-__"
                        label="Мобильный телефон"
                        :required="true"
                        :error="d_errors.phone"
        />
        <v-input v-model="d_auth.password"
                 class="mb-4"
                 label="Пароль"
                 type="password"
                 :error="d_errors.password"
        />
        <form-errors v-if="Object.keys(d_errors).length"
                     :errors="d_errors"
                     class="mb-3"
        />
        <loading-component v-if="d_loading" />
        <div v-else
             class="d-flex justify-content-between align-items-center"
        >
            <v-button schema="primary"
                      type="submit"
            >
                Войти
            </v-button>
            <span v-if="showRestore"
                  role="button"
                  class="link link_primary"
                  @click="$emit('restore')"
            >Восстановить пароль</span>
        </div>
    </form>
</template>

<script>
export default {
    name: 'SignInForm',
    props: {
        showRestore: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            d_auth: {
                phone: null,
                password: null,
            },
            d_errors: {},
            d_loading: false,
        };
    },
    methods: {
        async login() {
            this.d_loading = true;
            try {
                const res = await this.$store.dispatch('auth/login', this.d_auth);
                this.$emit('login', res);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
