<template>
    <form @submit.prevent="register">
        <v-input v-model="d_auth.firstName"
                 class="mb-4"
                 label="Ваше имя"
                 :error="d_errors.firstName"
                 required
        />
        <v-masked-input v-model="d_auth.phone"
                        class="mb-4"
                        mask="+7(###)###-##-##"
                        placeholder="+7(___)___-__-__"
                        label="Мобильный телефон"
                        :required="true"
                        :error="d_errors.phone"
        />
        <v-input v-model="d_auth.email"
                 class="mb-4"
                 label="Электронная почта"
                 :error="d_errors.email"
                 type="email"
                 required
        />
        <v-input v-model="d_auth.password"
                 class="mb-4"
                 label="Придумайте пароль"
                 type="password"
                 :error="d_errors.password"
                 required
        />
        <v-input v-model="d_auth.passwordConfirmation"
                 class="mb-4"
                 label="Повторите пароль"
                 type="password"
                 :error="d_errors.passwordConfirmation"
                 required
        />
        <v-checkbox v-model="d_auth.terms"
                    class="mb-4"
                    label="Я согласен на обработку персональных данных"
                    :error="d_errors.terms"
                    required
        />
        <form-errors v-if="Object.keys(d_errors).length"
                     :errors="d_errors"
                     class="mb-3"
        />
        <loading-component v-if="d_loading" />
        <v-button v-else
                  schema="primary"
        >
            Зарегистрироваться
        </v-button>
    </form>
</template>

<script>
export default {
    name: 'SignUpForm',
    data() {
        return {
            d_auth: {
                firstName: null,
                phone: null,
                email: null,
                password: null,
                passwordConfirmation: null,
                terms: null,
            },
            d_loading: false,
            d_errors: {},
        };
    },
    methods: {
        async register() {
            this.d_loading = true;
            try {
                const res = await this.$store.dispatch('auth/register', this.d_auth);
                this.$emit('register', res);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
