<template>
    <v-modal title="Вход"
             :closable="closable"
             @close="$emit('close')"
    >
        <sign-in-form @login="$router.push($store.getters['auth/homePage']); $emit('close')"
                      @restore="$emit('goto', {component: 'restoration'})"
        />
        <template #footer>
            Нет аккаунта?
            <span role="button"
                  class="link link_dark link_dashed ml-1"
                  @click="$emit('goto', {component: 'signup'})"
            >Зарегистрируйтесь</span>
        </template>
    </v-modal>
</template>

<script>

export default {
    name: 'SignInModal',
    props: {
        closable: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {};
    },
};
</script>

<style scoped>

</style>
