body {
  width: 100%;
  margin: 0;
  background: white;
  background-size: cover;
  color: $dark;
  backface-visibility: hidden;
  overflow: hidden;
}

html, body {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}
