.table {
  width: 100%;
  overflow: hidden;

  thead, .table__head {
    color: black;
    overflow: hidden;
    font-weight: bold;
    padding: 5px 10px;
  }

  td, .table__cell {
    padding: 15px;
  }

  tr, .table__row {
    padding: 5px 10px;

    &:nth-child(even) {
      background: #eceaff;
    }

    &:hover {
      background: #f3f3ff;
    }
  }

  div.table__row, div.table__head {
    display: grid;
    grid-auto-flow: column;
  }
}
