.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s ease-in;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: 0.3s ease-in;
  transform-origin: center;
}

//.layout-enter,
//.layout-leave-to {
//  opacity: 0;
//  transform: scale(1.1);
//}

.layout-leave-to {
  opacity: 0;
  transform: scale(1.1);
}

.layout-enter{
  opacity: 0;
  transform: scale(0.9);
}
