<template>
    <div>
        <div class="users__header">
            <v-search v-model="d_searchQuery"
                      @input="debouncedReset"
            />
            <v-button @click.native="d_showEditor = true">
                Добавить
            </v-button>
        </div>

        <div class="users-table table">
            <div class="users-table__header table__head">
                <div>ФИО</div>
                <div>Телефон</div>
                <div>E-Mail</div>
                <div>Активные абонементы</div>
                <div />
            </div>
            <div v-for="user in d_items"
                 :key="user.id"
                 class="users-table__row table__row"
            >
                <div class="users-table__row-name">
                    {{ fullName(user) }}
                </div>
                <div>{{ user.phone }}</div>
                <div>{{ user.email || '-' }}</div>
                <div>
                    <span class="link link_dashed"
                          @click="d_showUserSubscriptions = user"
                    >{{
                        user.subscriptions.length
                    }} шт.</span>
                </div>
                <div class="text-right">
                    <span v-if="can('users.update')"
                          class="icon-edit link"
                          role="button"
                          @click="d_showEditor = user"
                    />
                </div>
            </div>
        </div>
        <p v-if="!d_loading && !d_items.length"
           class="p-2"
        >
            Список пуст
        </p>
        <v-pagination v-show="d_count || d_loading"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
        <user-editor v-if="d_showEditor"
                     :user="d_showEditor"
                     @close="d_showEditor = false"
                     @store="onStore"
                     @update="onUpdate"
                     @remove="onRemove"
        />
        <user-subscriptions v-if="d_showUserSubscriptions"
                            :user="d_showUserSubscriptions"
                            :subscriptions.sync="d_showUserSubscriptions.subscriptions"
                            @close="d_showUserSubscriptions = null"
        />
    </div>
</template>
<script>
import debounce from 'lodash.debounce';
import { formatDateTime, fromNow } from 'assets/js/filters/dayjs';
import UsesPermissions from 'assets/js/mixins/UsesPermissions';
import fullName from '~/assets/js/filters/fullName';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'UsersTable',
    mixins: [UsesPermissions, UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
            d_showUserSubscriptions: null,
        };
    },
    methods: {
        fullName,
        formatDateTime,
        async fetch({ limit, offset }) {
            return await this.$api.users.fetch({
                limit,
                offset,
                search: this.d_searchQuery || undefined,
            });
        },
        onUpdate(user) {
            const idx = this.d_items.findIndex(item => item.id === user.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1, user);
            }
            this.d_showEditor = false;
        },
        onStore(user) {
            this.d_items.splice(0, 0, user);
            this.d_showEditor = false;
        },
        onRemove(user) {
            const idx = this.d_items.findIndex(item => item.id === user.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1);
            }
            this.d_showEditor = false;
        },
        debouncedReset: debounce(function(val) {
            this.$refs.pagination.goToPage(0);
        }, 500),
        formatSubscription(date) {
            if (!date) {
                return 'Не приобретался';
            } else {
                return fromNow(date);
            }
        },
    },
};
</script>

<style lang="scss">
@import "assets/sass/variables";

.users__header {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 15px;
}

.users-table__header, .users-table__row {
    display: grid;
    grid-template-columns: auto 120px 300px 200px 30px;
    grid-gap: 15px;
}

.users-table__header {
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.users-table__row {
    @include media-breakpoint-down(md) {
        grid-auto-flow: row !important;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

.users-table__row-name {
    @include media-breakpoint-down(md) {
        font-weight: bold;
    }
}
</style>
