<template>
    <div class="user-subscription">
        <div class="font-weight-bold">
            {{ subscription.subscription.name }}
        </div>
        <div class="small">
            <div>{{ formatDate(subscription.createdAt) }} - {{ formatDate(subscription.expiredAt) }}</div>
            <div v-if="subscription.totalCount">
                Осталось {{ subscription.leftCount }} из {{ subscription.totalCount }} занятий
            </div>
        </div>
        <i v-if="$store.getters['auth/isAdmin']"
           class="user-subscription__delete icon-delete link link_danger"
           @click="removeSubscription(subscription)"
        />
    </div>
</template>

<script>
import { formatDate } from 'assets/js/filters/dayjs';

export default {
    name: 'UserSubscription',
    props: {
        subscription: {
            type: Object,
            required: true,
        },
    },
    methods: {
        formatDate,
        async removeSubscription(subscription) {
            await this.$api.userSubscriptions.delete(subscription.id);
            this.$emit('remove');
        },
    },
};
</script>

<style scoped lang="scss">
.user-subscription {
    display: inline-block;
    padding: 10px;
    background: $light;
    border-radius: 4px;
    position: relative;
}

.user-subscription__delete {
    position: absolute;
    top: 5px;
    right: 5px;
}
</style>
