<template>
    <v-overlay class="user-subscriptions"
               title="Абонементы пользователя"
               @close="$emit('close')"
    >
        <div v-if="subscriptions.length"
             class="user-subscriptions__list"
        >
            <user-subscription v-for="item in subscriptions"
                               :key="item.id"
                               :subscription="item"
                               class="user-subscription"
                               @remove="$emit('update:subscriptions', subscriptions.filter(i => i.id !== item.id))"
            />
        </div>
        <p v-else
           class="mb-3"
        >
            Пользователь не имеет действующих абонементов.
        </p>
        <v-button type="button"
                  @click.native="d_showModal = true"
        >
            Выдать абонемент
        </v-button>

        <subscription-give-modal v-if="d_showModal"
                                 :user="user"
                                 @store="onStore"
                                 @close="d_showModal = false"
        />
    </v-overlay>
</template>

<script>
import { formatDate } from 'assets/js/filters/dayjs';

export default {
    name: 'UserSubscriptions',
    props: {
        subscriptions: {
            type: Array,
            default() {
                return [];
            },
        },
        user: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showModal: false,
        };
    },
    methods: {
        formatDate,
        onStore(val) {
            this.$emit('update:subscriptions', [
                ...this.subscriptions,
                val,
            ]);
        },
    },
};
</script>

<style scoped lang="scss">
.user-subscriptions {
    min-width: 270px;
}

.user-subscriptions__list {
    margin-bottom: 15px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
}

</style>
