<template>
    <v-select ref="select"
              v-model="c_value"
              placeholder="Поиск пользователя"
              label="value"
              :searchable="true"
              :options="d_options"
              :loading="d_loading"
              :internal-search="false"
              @search-change="onSearch"
              @open="$refs.select.setSearchValue(c_value ? c_value.email : null)"
    >
        <template #singleLabel="{option}">
            <div class="font-weight-bold">
                {{ option.lastName }} {{ option.firstName }} {{ option.middleName }}
            </div>
            <div class="small">
                <template v-if="option.code">
                    {{ option.code }}
                </template>
            </div>
        </template>
        <template #option="{option}">
            <div class="font-weight-bold">
                {{ option.lastName }} {{ option.firstName }} {{ option.middleName }}
            </div>
            <div class="small">
                <template v-if="option.code">
                    {{ option.code }}
                </template>
            </div>
        </template>
    </v-select>
</template>

<script>
import debounce from 'lodash.debounce';
import { formatDate } from 'assets/js/filters/dayjs';

export default {
    name: 'UserSelect',
    props: {
        value: {
            type: Object,
            default: null,
        },
        loadId: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {
            d_options: [],
            d_loading: false,
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit('input', val);
            },
        },
    },
    async mounted() {
        if (this.loadId) {
            this.d_loading = true;
            this.c_value = await this.$api.users.fetchOne(this.loadId);
            this.d_loading = false;
        }
    },
    methods: {
        debouncedSearch: debounce(async function(val) {
            this.d_options = val
                ? (await this.$api.users.fetch({
                    search: val,
                    limit: 999,
                })).results : [];
            this.d_loading = false;
        }, 500),
        onSearch(val) {
            this.d_loading = true;
            this.debouncedSearch(val);
        },
        formatDate,
    },
};
</script>

<style scoped>

</style>
