<template>
    <div class="site-subscription-card"
         :class="{'site-subscription-card_row' : row}"
         @click="d_showModal = true"
    >
        <attachment class="site-subscription-card__image"
                    :attachment="subscription.image"
        />
        <div>
            <div class="site-subscription-card__name h4 mb-0">
                {{ subscription.name }}
            </div>
            <div class="site-subscription-card__price text-primary h3">
                {{ c_price }} ₽
            </div>
        </div>
        <subscription-buy-modal v-if="d_showModal"
                                :subscription="subscription"
                                @close="d_showModal = false"
        />
    </div>
</template>

<script>
export default {
    name: 'SiteSubscriptionCard',
    props: {
        subscription: {
            type: Object,
            required: true,
        },
        row: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            d_showModal: false,
        };
    },
    computed: {
        c_price() {
            return new Intl.NumberFormat('ru-RU').format(this.subscription.price);
        },
    },
};
</script>

<style scoped lang="scss">
.site-subscription-card {
    cursor: pointer;
    text-align: center;

    &:hover {
        .site-subscription-card__image {
            transform: scale(1.05) rotate(-5deg);
        }
    }
}

.site-subscription-card__image {
    border-radius: 15px;
    box-shadow: 0 15px 45px -20px #000000ab;
    margin-bottom: 15px;
    transition: .1s ease-in;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.site-subscription-card_row {
    display: grid;
    grid-template-columns: 140px auto;
    text-align: left;
    grid-gap: 15px;
    align-items: center;

    .site-subscription-card__image {
        height: 90px;
    }
}
</style>
