<template>
    <v-modal class="subscription-buy-modal"
             width="800px"
             @close="$emit('close')"
    >
        <div class="subscription-buy-modal__layout">
            <div>
                <attachment :attachment="subscription.image"
                            class="subscription-buy-modal__image"
                />
                <div class="subscription-buy-modal__price-wrap">
                    <div class="subscription-buy-modal__price">
                        {{ c_price }} ₽
                    </div>
                    <v-button tag="nuxt-link"
                              :to="`/buy?subscription=${subscription.id}`"
                    >
                        Купить
                    </v-button>
                </div>
            </div>
            <div class="subscription-buy-modal__info">
                <h2 class="subscription-buy-modal__name">
                    {{ subscription.name }}
                </h2>
                <div class="subscription-buy-modal__attrs">
                    <div><span class="lined">Дней:</span> {{ subscription.daysCount }}</div>
                    <div><span class="lined">Занятий:</span> {{ subscription.useCount || 'без ограничений' }}</div>
                </div>
                <div class="subscription-buy-modal__description">
                    <div v-if="subscription.trainings.length"
                         class="mt-2"
                    >
                        <h5 class="mb-2">
                            Что включено:
                        </h5>
                        <ol class="mt-0 pt-0 pl-3">
                            <li v-for="training in subscription.trainings"
                                :key="training.id"
                                class="pl-1 ml-0"
                            >
                                {{ training.name }}
                            </li>
                        </ol>
                    </div>
                    <div v-html="subscription.description" />
                </div>
            </div>
        </div>
    </v-modal>
</template>

<script>
export default {
    name: 'SubscriptionBuyModal',
    props: {
        subscription: {
            type: Object,
            required: true,
        },
    },
    computed: {
        c_price() {
            return new Intl.NumberFormat('ru-RU').format(this.subscription.price);
        },
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.subscription-buy-modal__layout {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-gap: 40px;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.subscription-buy-modal__image {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.subscription-buy-modal__name {
    margin-bottom: 10px;
}

.subscription-buy-modal__price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription-buy-modal__price {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
}

.subscription-buy-modal__info {
    p + p {
        margin-top: 5px;
    }
}

.subscription-buy-modal__attrs {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin-bottom: 15px;
}

.subscription-buy-modal__description {
    background: $light;
    border-radius: 10px;
    padding: 15px;
}
</style>
