<template>
    <div>
        <div class="visits__header">
            <h4 class="mb-0">
                Посещения
            </h4>
            <v-button @click.native="d_showEditor = true">
                Добавить
            </v-button>
        </div>
        <div class="table">
            <div class="table__head visits__row">
                <div>Клиент</div>
                <div>Абонемент</div>
                <div class="text-md-right">
                    Дата посещения
                </div>
            </div>
            <div v-for="item in d_items"
                 :key="item.id"
                 class="table__row visits__row"
            >
                <div>{{ item.user.lastName }} {{ item.user.firstName }}</div>
                <div>
                    {{ item.userSubscriptions.map(i => i.subscription.name).join(', ') }}
                </div>
                <div class="text-md-right">
                    {{ formatDateTime(item.createdAt) }}
                </div>
            </div>
        </div>
        <p v-if="!d_loading && !d_items.length"
           class="p-2"
        >
            Список пуст
        </p>
        <v-pagination v-show="d_count || d_loading"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
        <visit-editor v-if="d_showEditor"
                      @close="d_showEditor = false"
                      @store="onStore"
        />
    </div>
</template>
<script>
import debounce from 'lodash.debounce';
import UsesPermissions from 'assets/js/mixins/UsesPermissions';
import { formatDate, formatDateTime } from 'assets/js/filters/dayjs';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'VisitsTable',
    mixins: [UsesPermissions, UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
        };
    },
    methods: {
        formatDateTime,
        formatDate,
        async fetch({ limit, offset }) {
            return await this.$api.visits.fetch({
                limit,
                offset,
            });
        },
        onUpdate(visit) {
            const idx = this.d_items.findIndex(item => item.id === visit.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1, visit);
            }
            this.d_showEditor = false;
        },
        onStore(visit) {
            this.d_items.splice(0, 0, visit);
            this.d_showEditor = false;
        },
        onRemove(visit) {
            const idx = this.d_items.findIndex(item => item.id === visit.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1);
            }
            this.d_showEditor = false;
        },
        debouncedReset: debounce(function(val) {
            this.$refs.pagination.goToPage(0);
        }, 500),
    },
};
</script>

<style lang="scss">
.visits__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visits__row {
    grid-template-columns: auto 450px 150px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        grid-auto-flow: row !important;
    }
}
</style>
