<template>
    <v-modal :title="d_visit.id ? 'Редактирование посещения' : 'Добавление посещения'"
             @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <user-select v-model="d_visit.user"
                         class="mb-3"
            />
            <transition-collapse>
                <div v-if="d_visit.user">
                    <template v-if="d_visit.user.subscriptions.length">
                        <h4>Выберите абонементы</h4>
                        <v-checkbox v-for="subscription in d_visit.user.subscriptions"
                                    :key="subscription.id"
                                    v-model="d_visit.userSubscriptionIds"
                                    :checkbox-value="subscription.id"
                                    :label="subscription.subscription.name"
                                    class="mb-2"
                        >
                            <user-subscription :subscription="subscription" />
                        </v-checkbox>
                    </template>
                    <p v-else>
                        Выбранный пользователь не имеет действующих абонементов.
                    </p>
                </div>
            </transition-collapse>

            <form-errors class="mb-4"
                         :errors="d_errors"
            />

            <div v-if="!d_loading"
                 class="d-flex justify-content-between mt-3"
            >
                <v-button schema="primary">
                    Сохранить
                </v-button>
                <v-button v-if="d_visit.id"
                          type="button"
                          schema="light"
                          :outline="true"
                          @click.native="d_showDelete = true"
                >
                    Удалить
                </v-button>
            </div>
            <loading-component v-else />
        </form>
        <v-notify v-if="d_showDelete"
                  :confirm="true"
                  type="confirm"
                  :fixed="true"
                  @cancel="d_showDelete = false"
                  @close="d_showDelete = false"
                  @confirm="remove"
        >
            Вы подтверждаете удаление?
        </v-notify>
    </v-modal>
</template>

<script>

import { formatDate } from 'assets/js/filters/dayjs';

export default {
    name: 'VisitEditor',
    props: {
        visit: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_visit: {
                user: null,
                userSubscriptionIds: [],
            },
            d_loading: false,
            d_showDelete: false,
            d_errors: {},
        };
    },
    methods: {
        formatDate,
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_errors = {};
            try {
                if (this.visit) {
                    const res = await this.$api.visits.update(this.visit.id, this.d_visit);
                    this.$emit('update', res);
                    this.$emit('close');
                } else {
                    const res = await this.$api.visits.store(this.d_visit);
                    this.$emit('store', res);
                    this.$emit('close');
                }
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async remove() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.visits.remove(this.visit.id);
                this.$emit('remove', this.d_visit);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },

    },
};
</script>

<style scoped lang="scss">
</style>
