<template>
    <div>
        <div class="user-subscriptions__header">
            <h3 class="mb-0">
                Абонементы
            </h3>
        </div>
        <div class="table">
            <div class="table__head user-subscriptions__row">
                <div />
                <div>Дата оформления</div>
                <div>Дата сгорания</div>
                <div>Осталось посещений</div>
                <div>Возможности</div>
            </div>
            <div v-for="item in c_subscriptions"
                 :key="item.id"
                 class="table__row user-subscriptions__row"
                 :class="{'user-subscriptions__row_expired': isExpired(item)}"
            >
                <div class="user-subscriptions__subscription">
                    <attachment class="user-subscription__image"
                                :attachment="item.subscription.image"
                    />
                    <b>{{ item.subscription.name }}</b>
                </div>
                <div>
                    <span class="font-weight-bold d-lg-none">Дата оформления:</span> {{ formatDate(item.createdAt) }}
                </div>
                <div>
                    <span class="font-weight-bold d-lg-none">Дата сгорания:</span> {{ formatDate(item.expiredAt) }}
                </div>
                <div>
                    <span class="font-weight-bold d-lg-none">Осталось посещений:</span> {{ formatDaysLeft(item) }}
                </div>
                <div>
                    <template v-if="item.subscription.isUnlimited">
                        Безлимит
                    </template>
                    <template v-else>
                        <span class="font-weight-bold d-lg-none">Возможности:</span>
                        {{ item.subscription.trainings.map(i => i.name).join(', ') }}
                    </template>
                </div>
            </div>
        </div>
        <p v-if="!d_loading && !c_subscriptions.length">
            Список пуст
        </p>
    </div>
</template>
<script>
import { formatDate, isBefore } from 'assets/js/filters/dayjs';
import choice from 'assets/js/filters/choice';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'CabinetUserSubscriptionsTable',
    mixins: [UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
        };
    },
    computed: {
        c_subscriptions() {
            return this.$store.state.auth.user.subscriptions;
        },
    },
    methods: {
        formatDate,
        formatDaysLeft(item) {
            if (item.leftCount) {
                return item.leftCount + ' ' + choice(item.leftCount, 'день', 'дня', 'дней');
            } else {
                return 'Без ограничений';
            }
        },
        isExpired(item) {
            return isBefore(item.expiredAt);
        },
    },
};
</script>

<style lang="scss" scoped>
.user-subscriptions__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-subscriptions__row {
    grid-template-columns: 350px 200px 200px 200px auto;
    grid-gap: 15px;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        grid-auto-flow: row !important;
    }

    &.table__head {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.user-subscription__image {
    width: 120px;
    border-radius: 10px;
}

.user-subscriptions__subscription {
    display: grid;
    align-items: center;
    grid-gap: 15px;
    grid-auto-flow: column;
    justify-content: flex-start;
}

.user-subscriptions__row_expired {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}
</style>
