<template>
    <div class="card dashboard-subscription">
        <div class="dashboard-subscription__count">
            {{ c_activeSubscriptions.length }}
        </div>
        <div class="h5 mb-3">
            {{ c_label }}
        </div>
        <v-button @click.native="d_showModal=true">
            Купить абонемент
        </v-button>
        <subscription-select-modal v-if="d_showModal"
                                   @close="d_showModal = false"
        />
    </div>
</template>

<script>
import choice from 'assets/js/filters/choice';

export default {
    name: 'DashboardSubscription',
    data() {
        return {
            d_showModal: false,
        };
    },
    computed: {
        c_activeSubscriptions() {
            return this.$store.getters['auth/activeSubscriptions'];
        },
        c_label() {
            return choice(this.c_activeSubscriptions.length, 'активный абонемент', 'активных абонемента', 'активных абонементов');
        },
    },
};
</script>

<style scoped lang="scss">
.dashboard-subscription {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard-subscription__count {
    font-size: 94px;
    line-height: 94px;
    font-weight: bold;
}
</style>
