<template>
    <div class="card dashboard-visits">
        <loading-component v-if="d_loading" />
        <template v-else>
            <div class="dashboard-visits__count">
                {{ d_count }}
            </div>
            <div class="h5 mb-3">
                {{ c_label }} зала в этом месяце
            </div>
            <v-button tag="nuxt-link"
                      to="/cabinet/visits"
            >
                Вся история
            </v-button>
        </template>
    </div>
</template>

<script>

import dayjs from 'dayjs';
import choice from 'assets/js/filters/choice';

export default {
    name: 'DashboardVisits',
    async fetch() {
        this.d_loading = true;
        const res = await this.$api.visits.fetch({
            fromDate: dayjs().startOf('month').toISOString(),
            toDate: dayjs().endOf('month').toISOString(),
        });
        this.d_count = res.count;
        this.d_loading = false;
    },
    data() {
        return {
            d_count: 0,
            d_loading: false,
        };
    },
    computed: {
        c_label() {
            return choice(this.d_count, 'посещение', 'посещения', 'посещений');
        },
    },
};
</script>

<style scoped lang="scss">
.dashboard-visits {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard-visits__count {
    font-size: 94px;
    line-height: 94px;
    font-weight: bold;
}
</style>
