<template>
    <div>
        <div class="payments__header">
            <h3 class="mb-0">
                История оплаты
            </h3>
        </div>
        <div class="table">
            <div v-for="item in d_items"
                 :key="item.id"
                 class="table__row payments__row"
            >
                <div>{{ formatDate(item.createdAt) }}</div>
                <div>
                    {{ formatPaymentType(item.payment.type) }}
                </div>
                <div>{{ formatPaymentStatus(item.payment.status) }}</div>
                <div>{{ item.product.name }}</div>
                <div class="text-md-right">
                    {{ item.payment.amount }} ₽
                </div>
            </div>
        </div>
        <p v-if="!d_loading && !d_items.length">
            Список пуст
        </p>
        <v-pagination v-show="d_count || d_loading"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
    </div>
</template>
<script>
import { formatDate } from 'assets/js/filters/dayjs';
import { formatPaymentType } from 'assets/js/filters/formatPaymentType';
import { formatPaymentStatus } from 'assets/js/filters/formatPaymentStatus';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'PaymentsTable',
    mixins: [UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
        };
    },
    methods: {
        formatDate,
        formatPaymentType,
        formatPaymentStatus,
        async fetch({ limit, offset }) {
            return await this.$api.payments.fetch({
                limit,
                offset,
            });
        },
    },
};
</script>

<style lang="scss" scoped>
.payments__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payments__row {
    grid-template-columns: 100px 150px 150px auto  150px;
    grid-gap: 15px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        grid-auto-flow: row !important;
    }
}
</style>
