<template>
    <v-modal title="Выбор абонемента"
             width="600px"
             @close="$emit('close')"
    >
        <loading-component v-if="$fetchState.pending" />
        <div v-else
             class="product-select-modal"
        >
            <site-subscription-card v-for="product in d_items"
                                    :key="product.id"
                                    :subscription="product"
                                    :row="true"
            />
        </div>
    </v-modal>
</template>

<script>
export default {
    name: 'SubscriptionSelectModal',
    async fetch() {
        this.d_items = (await this.$api.subscriptions.fetch({ limit: 30 })).results;
    },
    data() {
        return {
            d_items: null,
        };
    },
};
</script>

<style scoped lang="scss">
.product-select-modal {
    display: grid;
    grid-gap: 30px;
}
</style>
