<template>
    <div>
        <div class="table">
            <div v-for="item in d_items"
                 :key="item.id"
                 class="table__row visits__row"
            >
                {{ formatDateTime(item.createdAt) }}
            </div>
        </div>
        <p v-if="!d_loading && !d_items.length">
            Список пуст
        </p>
        <v-pagination v-show="showPagination && (d_count || d_loading)"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
    </div>
</template>
<script>
import { formatDate, formatDateTime } from 'assets/js/filters/dayjs';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'UserVisitsTable',
    mixins: [UsesPagination],
    props: {
        limit: {
            type: Number,
            default: 10,
        },
        showPagination: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
            d_limit: this.limit,
        };
    },
    methods: {
        formatDateTime,
        formatDate,
        async fetch({ limit, offset }) {
            return await this.$api.visits.fetch({
                limit,
                offset,
            });
        },
    },
};
</script>

<style lang="scss" scoped>
</style>
