<template>
    <div class="group-card">
        {{ group.name }}
        <div class="group-card__trainings">
            {{ c_trainingsLabel }}
        </div>
        <i class="icon-edit group-card__edit link link_gray"
           @click="d_showEditor = true"
        />

        <group-editor v-if="d_showEditor"
                      :group="group"
                      @close="d_showEditor = false"
                      @update="onUpdate"
                      @remove="onRemove"
        />
    </div>
</template>

<script>
export default {
    name: 'GroupCard',
    props: {
        group: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showEditor: false,
        };
    },
    computed: {
        c_trainingsLabel() {
            return this.group.trainings.map(t => t.name).join(', ');
        },
    },
    methods: {
        onUpdate(val, old) {
            this.d_showEditor = false;
            this.$emit('update', val, old);
        },
        onRemove(val) {
            this.d_showEditor = false;
            this.$emit('remove', arguments[0]);
        },
    },
};
</script>

<style scoped lang="scss">
.group-card {
    border: 1px solid $light;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    background: white;
}

.group-card__edit {
    position: absolute;
    top: 5px;
    right: 5px;
}

.group-card__trainings {
    font-size: 12px;
    line-height: 14px;
    color: $gray;
}
</style>
