<template>
    <v-overlay :title="d_group.id ? 'Редактирование группы' : 'Добавление группы'"
               @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <v-input v-model="d_group.name"
                     class="mb-4"
                     label="Название"
                     :error="d_errors.name"
            />

            <h4>Занятия</h4>
            <div class="table">
                <div v-for="(training, idx) in d_group.trainings"
                     :key="idx"
                     class="table__row group__training-row"
                >
                    <div>{{ idx + 1 }}.</div>
                    <div>{{ training.name }}</div>
                    <i class="icon-delete link link_gray"
                       @click="d_group.trainings.splice(idx, 1)"
                    />
                </div>
            </div>
            <v-dropdown width="300px"
                        class="my-3"
            >
                <div class="link link_primary link_dashed">
                    Добавить занятие
                </div>
                <template #body="{toggle}">
                    <training-select @input="d_group.trainings.push(arguments[0]);toggle()" />
                </template>
            </v-dropdown>
            <form-errors class="mb-4"
                         :errors="d_errors"
            />

            <div v-if="!d_loading"
                 class="d-flex justify-content-between"
            >
                <v-button schema="primary">
                    Сохранить
                </v-button>
                <v-button v-if="d_group.id"
                          type="button"
                          schema="light"
                          :outline="true"
                          @click.native="d_showDelete = true"
                >
                    Удалить
                </v-button>
            </div>
            <loading-component v-else />
        </form>
        <v-notify v-if="d_showDelete"
                  :confirm="true"
                  type="confirm"
                  :fixed="true"
                  @cancel="d_showDelete = false"
                  @close="d_showDelete = false"
                  @confirm="remove"
        >
            Вы подтверждаете удаление?
        </v-notify>
    </v-overlay>
</template>

<script>
import GroupFactory from '~/assets/js/factories/GroupFactory';

export default {
    name: 'GroupEditor',
    props: {
        group: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_group: GroupFactory.create({
                trainings: [],
                ...this.group,
            }),
            d_loading: false,
            d_showDelete: false,
            d_errors: {},
        };
    },
    methods: {
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_errors = {};
            try {
                if (this.group) {
                    const res = await this.$store.dispatch('groups/update', {
                        id: this.group.id,
                        data: this.d_group,
                    });
                    this.$emit('update', res);
                } else {
                    const res = await this.$store.dispatch('groups/store', this.d_group);
                    this.$emit('store', res);
                }
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async remove() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$store.dispatch('groups/remove', this.group.id);
                this.$emit('remove', this.d_group);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },

    },
};
</script>

<style scoped lang="scss">
.group__training-row {
    grid-template-columns: 30px auto 30px;
    align-items: center;
}
</style>
