<template>
    <div class="gallery">
        <div class="container">
            <h3><span class="text-primary">Evolution Fit</span> в картинках</h3>
            <div ref="swiper"
                 class="swiper-container progress-gallery"
                 data-preset="gallery"
            >
                <div class="swiper-wrapper">
                    <div v-for="(chunk, idx) in c_chunkedItems"
                         :key="idx"
                         class="swiper-slide progress-gallery__slide"
                    >
                        <div v-for="item in chunk"
                             :key="item.id"
                             class="progress-gallery__slide-img-wrap"
                        >
                            <img class="progress-gallery__slide-img"
                                 :src="item.sizes[0].url"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-gallery__nav">
                <div ref="progress"
                     class="swiper-pagination swiper-pagination-progress"
                />
                <div ref="prev"
                     class="progress-gallery__button-prev"
                >
                    <svg width="23"
                         height="46"
                         viewBox="0 0 23 46"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M22 1L2 23L22 45"
                              stroke-width="2"
                        />
                    </svg>
                </div>
                <div ref="next"
                     class="progress-gallery__button-next"
                >
                    <svg width="23"
                         height="46"
                         viewBox="0 0 23 46"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M1 45L21 23L1 0.999999"
                              stroke-width="2"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Navigation, Swiper, Pagination } from 'swiper';

Swiper.use([Navigation, Pagination]);

export default {
    name: 'VGallery',
    async fetch() {
        this.d_items = await this.$api.galleryImages.fetch();
    },
    data() {
        return {
            d_items: [],
            d_swiper: null,
        };
    },
    computed: {
        c_chunkedItems() {
            return this.d_items.reduce((acc, i) => {
                if (acc[acc.length - 1].length < 2) {
                    acc[acc.length - 1].push(i);
                } else {
                    acc.push([i]);
                }
                return acc;
            }, [[]]);
        },
    },
    mounted() {
        this.d_swiper = new Swiper(this.$refs.swiper, {
            slidesPerView: 4,
            spaceBetween: 30,
            observer: true,
            breakpoints: {
                // when window width is >= 320px
                321: {
                    slidesPerView: 2,
                },
                // when window width is >= 640px
                640: {
                    slidesPerView: 3,
                },
                // when window width is >= 640px
                768: {
                    spaceBetween: 10,
                },
                992: {
                    spaceBetween: 20,
                    slidesPerView: 4,
                },
            },
            pagination: {
                el: this.$refs.progress,
                type: 'progressbar',
            },
            navigation: {
                nextEl: this.$refs.next,
                prevEl: this.$refs.prev,
            },
        });
    },
};
</script>

<style scoped lang="scss">
.gallery {
    background: black;
    padding: 100px 0;
    color: white;
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
}

.progress-gallery {
    .progress-gallery__slide {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;

        @include media-breakpoint-down(md) {
            grid-gap: 20px;
        }

        @include media-breakpoint-down(sm) {
            grid-gap: 10px;
        }

        .progress-gallery__slide-img-wrap {
            padding-bottom: 100%;
            height: 0;
            position: relative;
        }

        .progress-gallery__slide-img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
    }
}

.progress-gallery__nav {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    .swiper-pagination-progress {
        height: 2px;
        width: 95%;
        background: #3F3F3F;
        position: static;

        &::v-deep {
            .swiper-pagination-progressbar-fill {
                background: $primary;
            }
        }
    }

    .progress-gallery__button-prev, .progress-gallery__button-next {
        width: 24px;
        height: 44px;
        stroke: $primary;

        &:hover {
            cursor: pointer;
        }
    }

    .progress-gallery__button-next {
        margin-left: 60px;
    }

    .progress-gallery__button-prev {
        margin-left: 35px;
    }

    .progress-gallery__button-next.swiper-button-disabled {
        stroke: #3f3f3f;
    }

    .progress-gallery__button-prev.swiper-button-disabled {
        stroke: #3f3f3f;
    }
}
</style>
