<template>
    <v-modal :title="c_title"
             @close="$emit('close')"
    >
        <transition-collapse>
            <div v-if="d_success">
                <p>Ваше сообщение успешно зарегистрировано и мы скоро свяжемся с вами.</p>
            </div>
        </transition-collapse>
        <transition-collapse>
            <form v-if="!d_success"
                  @submit.prevent="submit"
            >
                <v-input v-model="d_feedback.name"
                         class="mb-4"
                         label="Представьтесь*"
                         :required="true"
                         :error="d_errors.name"
                />
                <v-masked-input v-model="d_feedback.phone"
                                class="mb-4"
                                mask="+7(###)###-##-##"
                                placeholder="+7(___)___-__-__"
                                label="Мобильный телефон"
                                :error="d_errors.phone"
                />
                <v-textarea v-model="d_feedback.body"
                            label="Ваше сообщение"
                            class="mb-4"
                            rows="5"
                            :error="d_errors.body"
                />
                <v-checkbox v-model="d_feedback.terms"
                            class="mb-4"
                            :required="true"
                            label="Я согласен на обработку персональных данных"
                            :error="d_errors.terms"
                />
                <form-errors class="mb-3"
                             :errors="d_errors"
                />
                <loading-component v-if="d_loading" />
                <v-button v-else
                          schema="primary"
                          type="submit"
                >
                    Отправить
                </v-button>
            </form>
        </transition-collapse>
    </v-modal>
</template>

<script>
export default {
    name: 'FeedbackModal',
    data() {
        return {
            d_feedback: {
                name: null,
                phone: null,
                body: null,
                terms: false,
            },
            d_loading: false,
            d_errors: {},
            d_success: false,
        };
    },
    computed: {
        c_title() {
            return this.d_success
                ? 'Спасибо!'
                : 'Свяжитесь с нами';
        },
    },
    methods: {
        async submit() {
            this.d_loading = true;
            try {
                await this.$api.feedback.store(this.d_feedback);
                this.d_success = true;
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
    head: {
        meta: [
            { name: 'referrer', content: 'unsafe-url' },
        ],
    },
};
</script>

<style scoped>

</style>
