<template>
    <div class="cabinet-layout">
        <user-sidebar />
        <nuxt class="cabinet-layout__content" />
    </div>
</template>

<script>
export default {
    name: 'Cabinet',
};
</script>

<style scoped lang="scss">
.cabinet-layout {
    padding-left: 315px;
    background: #f8f8f8;
    height: 100vh;
    overflow-y: auto;

    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-top: 70px;
    }
}

.cabinet-layout__content {
    padding: 15px;
}
</style>
