<template>
    <div class="layout">
        <v-navbar />
        <Nuxt class="content" />
        <v-footer />
    </div>
</template>
<script>

export default {
    components: {},
};
</script>

<style lang="scss">
@import "assets/sass/variables";
.layout {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.content {
    @include media-breakpoint-down(md) {
        margin-top: 46px;
        padding-top: 15px;
    }
}
</style>
