<template>
    <div class="container mb-5">
        <h1>Клубные карты</h1>
        <loading-component v-if="$fetchState.pending" />
        <div class="cards">
            <site-subscription-card v-for="item in d_items"
                                    :key="item.id"
                                    :subscription="item"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Cards',
    async fetch() {
        this.d_items = (await this.$api.subscriptions.fetch()).results;
    },
    data() {
        return {
            d_items: [],
            d_swiper: null,
        };
    },
};
</script>

<style scoped lang="scss">
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}
</style>
