<template>
    <div class="container pb-5">
        <h1 class="mb-3">
            Отлично!
        </h1>
        <p class="mb-3">
            Ваш аккаунт успешно активирован.
        </p>
        <nuxt-link :to="$store.getters['auth/homePage']">
            <v-button schema="primary">
                В личный кабинет
            </v-button>
        </nuxt-link>
    </div>
</template>

<script>
export default {
    name: 'EmailConfirmation',
    async fetch() {
        if (process.server) {
            try {
                await this.$store.dispatch('auth/confirmEmail', {
                    data: this.$route.query.data,
                });
            } catch (e) {
                this.$nuxt.error({
                    statusCode: 404,
                    message: 'Пользователь не найден или уже активирован.',
                });
            }
        }
    },
};
</script>

<style scoped>

</style>
