<template>
    <div>
        <index-entry />
        <index-promos />
        <div class="index-schedule">
            <div class="container py-5">
                <h2 class="h1">
                    Расписание
                </h2>
                <v-schedule />
            </div>
        </div>
        <index-gym />
        <index-prices />
        <index-trainers />
        <index-service />
        <index-les-mills />
        <index-children />
        <v-gallery />
    </div>
</template>

<script>
export default {
    name: 'Index',
};
</script>

<style lang="scss">
.index-schedule {
    background: #f8f8f8;
    overflow: hidden;
}
</style>
