<template>
    <div class="container mb-5">
        <h1>Текущие акции</h1>
        <v-promo v-for="item in d_items"
                 :key="item.id"
                 :promo="item"
        />
        <loading-component v-if="d_loading" />
        <p v-else-if="!d_items.length">
            В данный момент не проводится ни одной акции :(
        </p>
    </div>
</template>

<script>
export default {
    name: 'Promos',
    async fetch() {
        this.d_loading = true;
        this.d_items = (await this.$api.promos.fetch()).results;
        this.d_loading = false;
    },
    data() {
        return {
            d_items: [],
            d_loading: null,
        };
    },
};
</script>

<style scoped>

</style>
