<template>
    <div>
        <auth-modal :closable="false" />
    </div>
</template>

<script>
export default {
    name: 'Pwa',
    layout: 'empty',
    middleware({ store, route, redirect }) {
        if (store.getters['auth/isAuthenticated']) {
            redirect(store.getters['auth/homePage']);
        }
    },
};
</script>

<style scoped>

</style>
