<template>
    <div class="schedule">
        <div class="container mb-5">
            <h1>Расписание</h1>
            <v-schedule />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Schedule',
};
</script>

<style scoped lang="scss">

</style>
