<template>
    <div class="container mb-5">
        <h1>Наши тренера</h1>
        <div class="trainers">
            <site-trainer-card v-for="item in d_items"
                               :key="item.id"
                               :trainer="item"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Trainers',
    async fetch() {
        this.d_items = (await this.$api.trainers.fetch({
            limit: 100,
        })).results;
    },
    data() {
        return {
            d_items: [],
        };
    },
};
</script>

<style scoped lang="scss">
.trainers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}
</style>
