<template>
    <div class="card expiring-subscriptions">
        <h5>Активных клиентов</h5>
        <loading-component v-if="d_loading" />
        <div v-else
             class="expiring-subscriptions__count"
        >
            {{ d_count }}
        </div>
    </div>
</template>

<script>

export default {
    name: 'ClientsCount',
    async fetch() {
        this.d_loading = true;
        const res = await this.$api.users.fetch({
            active: true,
        });
        this.d_count = res.count;
        this.d_loading = false;
    },
    data() {
        return {
            d_count: null,
            d_loading: false,
        };
    },
};
</script>

<style scoped lang="scss">
.expiring-subscriptions{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.expiring-subscriptions__count {
    font-size: 94px;
    line-height: 94px;
    font-weight: bold;
}
</style>
