<template>
    <div class="card expiring-subscriptions">
        <h5>Заканчивающиеся абонементы</h5>
        <loading-component v-if="d_loading" />
        <div v-else-if="d_users.length"
             class="table"
        >
            <div class="table__head expiring-subscriptions__row">
                <div>Клиент</div>
                <div class="text-md-right">
                    Абонемент
                </div>
                <div class="text-md-right">
                    Телефон
                </div>
                <div class="text-md-right">
                    Дата сгорания
                </div>
            </div>
            <div v-for="item in d_users"
                 :key="item.id"
                 class="table__row expiring-subscriptions__row"
            >
                <div>{{ item.lastName }} {{ item.firstName }}</div>
                <div class="text-md-right">
                    №{{ item.subscriptionCode }}
                </div>
                <div class="text-md-right">
                    {{ item.phone }}
                </div>
                <div class="text-md-right">
                    {{ fromNow(item.subscriptionTill) }}
                </div>
            </div>
        </div>
        <p v-else>
            Список пуст
        </p>
    </div>
</template>

<script>

import { fromNow } from 'assets/js/filters/dayjs';

export default {
    name: 'ExpiringSubscriptions',
    async fetch() {
        this.d_loading = true;
        const res = await this.$api.users.fetch({
            expireSoon: true,
        });
        this.d_users = res.results;
        this.d_loading = false;
    },
    data() {
        return {
            d_users: [],
            d_loading: false,
        };
    },
    methods: {
        fromNow,
    },
};
</script>

<style scoped lang="scss">
.expiring-subscriptions__row {
    grid-template-columns: auto 100px 150px 150px;
}

.expiring-subscriptions__row {

    @include media-breakpoint-down(md) {
        grid-auto-flow: row !important;
        grid-template-columns: 1fr;
    }

    &.table__head {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}
</style>
