<template>
    <div class="card people-count">
        <loading-component v-if="d_loading" />
        <template v-else>
            <div class="people-count__count">
                {{ c_count }}
            </div>
            <div class="h5 mb-0">
                {{ c_label }} в зале
            </div>
            <div class="text-gray mb-3">
                за последние 1.5 часа
            </div>
        </template>
    </div>
</template>

<script>

// import dayjs from 'dayjs';
import choice from 'assets/js/filters/choice';

export default {
    name: 'PeopleCount',
    // async fetch() {
    //     this.d_loading = true;
    //     const res = await this.$api.visits.fetch({
    //         fromDate: dayjs().subtract(1.5, 'hour').toISOString(),
    //     });
    //     this.d_count = res.count;
    //     this.d_loading = false;
    // },
    data() {
        return {
            d_count: null,
            d_loading: false,
        };
    },
    computed: {
        c_label() {
            return choice(this.d_count, 'человек', 'человека', 'человек');
        },
        c_count() {
            return this.$store.state.settings.general.peopleCount;
        },
    },
};
</script>

<style scoped lang="scss">

.people-count {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.people-count__count {
    font-size: 94px;
    line-height: 94px;
    font-weight: bold;
}
</style>
