<template>
    <div class="card visit-stats">
        <h5>Статистика визитов</h5>
        <loading-component v-if="d_loading" />
        <canvas v-else
                ref="chart"
                height="200px"
                class="visits-stats__chart"
        />
    </div>
</template>

<script>
import dayjs from 'dayjs';
import Chart from 'chart.js/auto';
import 'chartjs-adapter-date-fns';
import { ru } from 'date-fns/locale';

export default {
    name: 'VisitStats',
    async fetch() {
        this.d_loading = true;
        this.d_stats = await this.$api.visits.fetchStats({
            fromDate: this.d_period[0],
            toDate: this.d_period[1],
        });
        this.d_loading = false;
        if (process.client) {
            this.$nextTick(() => {
                this.drawChart();
            });
        }
    },
    data() {
        return {
            d_period: [dayjs().startOf('month').toISOString(), dayjs().endOf('month').toISOString()],
            d_stats: [],
            d_loading: false,
            d_chart: null,
        };
    },
    mounted() {
        if (!this.$fetchState.pending) {
            this.drawChart();
        }
    },
    methods: {
        drawChart() {
            const data = {
                datasets: [
                    {
                        data: this.d_stats,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)',
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                        ],
                        borderWidth: 1,
                    },
                ],
            };

            this.d_chart = new Chart(this.$refs.chart, {
                type: 'bar',
                data,
                options: {
                    parsing: {
                        xAxisKey: 'createdAt',
                        yAxisKey: 'count',
                    },
                    plugins: {
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        y: {
                            ticks: {
                                precision: 0,
                            },
                        },
                        x: {
                            adapters: {
                                date: {
                                    locale: ru,
                                },
                            },
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'dd MMMM',
                            },
                        },
                    },
                },
            });
        },
    },
};
</script>

<style scoped lang="scss">
.visits-stats__chart {
    width: 100%;
}
</style>
