<template>
    <div class="product-card card card_sm">
        <attachment :attachment="product.image" />
        <div>
            {{ product.name }}
            <div class="product-card__info">
                {{ c_price }} ₽
            </div>
            <i class="icon-edit product-card__edit link link_gray"
               @click="d_showEditor = true"
            />

            <product-editor v-if="d_showEditor"
                            :product="product"
                            @close="d_showEditor = false"
                            @update="onUpdate"
                            @remove="onRemove"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProductCard',
    props: {
        product: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showEditor: false,
        };
    },
    computed: {
        c_price() {
            return new Intl.NumberFormat('ru-RU').format(this.product.price);
        },
    },
    methods: {
        onUpdate(val, old) {
            this.d_showEditor = false;
            this.$emit('update', val, old);
        },
        onRemove(val) {
            this.d_showEditor = false;
            this.$emit('remove', arguments[0]);
        },
    },
};
</script>

<style scoped lang="scss">
.product-card {
    position: relative;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    grid-gap: 15px;

    &:hover {
        background: $light;
    }
}

.product-card__edit {
    position: absolute;
    top: 5px;
    right: 5px;
}

.product-card__info {
    font-size: 12px;
    line-height: 14px;
    color: $gray;
}
</style>
