<template>
    <v-modal title="Выдача абонемента"
             @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <user-select v-model="d_data.user"
                         class="mb-3"
            />
            <product-select v-model="d_data.product"
                            class="mb-3"
            />
            <p v-if="d_data.user"
               class="product-give__info mb-3"
            >
                <template v-if="c_alreadyHasSubscription">
                    Текущий абонемент закончится <b>{{ formatDate(d_data.user.subscriptionTill) }}</b>.
                </template>
                <template v-else>
                    Клиент не имеет действующего абонемента.
                </template>
                <template v-if="d_data.product">
                    Новый абонемент закончится <b>{{ formatDate(c_newSubscriptionTill) }}</b>.
                </template>
            </p>
            <form-errors v-if="d_errors"
                         class="mb-3"
                         :errors="d_errors"
            />
            <loading-component v-if="d_loading" />
            <v-button v-else>
                Выдать абонемент
            </v-button>
        </form>
    </v-modal>
</template>

<script>
import { formatDate, isAfter } from 'assets/js/filters/dayjs';
import dayjs from 'dayjs';

export default {
    name: 'ProductGiveModal',
    props: {
        user: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_data: {
                user: this.user,
                product: null,
            },
            d_loading: false,
            d_errors: null,
        };
    },
    computed: {
        c_alreadyHasSubscription() {
            return this.d_data.user.subscriptionTill && isAfter(this.d_data.user.subscriptionTill);
        },
        c_newSubscriptionTill() {
            const startFrom = this.d_data.user.subscriptionTill && isAfter(this.d_data.user.subscriptionTill)
                ? dayjs(this.d_data.user.subscriptionTill)
                : dayjs();
            return startFrom.add(this.d_data.product.daysCount, 'day');
        },
    },
    methods: {
        formatDate,
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = false;
            this.d_errors = null;
            try {
                await this.$api.products.give(this.d_data);
                this.$emit('give', this.d_data);
                this.$emit('close');
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped lang="scss">
.product-give__info {
    background: $warning;
    border-radius: 10px;
    padding: 15px;
}
</style>
