<template>
    <div>
        <div class="products__header">
            <v-search v-model="d_searchQuery"
                      @input="debouncedReset"
            />
            <v-button @click.native="d_showEditor = true">
                Добавить
            </v-button>
        </div>
        <div class="products">
            <product-card v-for="item in d_items"
                          :key="item.id"
                          :product="item"
                          @remove="onRemove"
            />
        </div>
        <p v-if="!d_loading && !d_items.length">
            Список пуст
        </p>
        <v-pagination v-show="d_count || d_loading"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
        <product-editor v-if="d_showEditor"
                        @close="d_showEditor = false"
                        @store="onStore"
                        @update="onUpdate"
                        @remove="onRemove"
        />
    </div>
</template>
<script>
import debounce from 'lodash.debounce';
import UsesPermissions from 'assets/js/mixins/UsesPermissions';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'VProducts',
    mixins: [UsesPermissions, UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
        };
    },
    methods: {
        fetch({ limit, offset }) {
            return {
                results: this.$store.state.products.items.slice(offset, offset + limit),
                count: this.$store.state.products.items.length,
            };
        },
        onUpdate(product) {
            const idx = this.d_items.findIndex(item => item.id === product.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1, product);
            }
            this.d_showEditor = false;
        },
        onStore(product) {
            this.d_items.splice(0, 0, product);
            this.d_showEditor = false;
        },
        onRemove(product) {
            const idx = this.d_items.findIndex(item => item.id === product.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1);
            }
            this.d_showEditor = false;
        },
        debouncedReset: debounce(function(val) {
            this.$refs.pagination.goToPage(0);
        }, 500),
    },
};
</script>

<style lang="scss">
.products {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.products__header {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 15px;
}
</style>
