<template>
    <footer class="footer">
        <map-component class="footer__map"
                       balloon-text="Evolution-Fit"
        />
        <div class="footer__content"
             :class="{'footer__content_hidden': d_showMap}"
        >
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3 mb-md-0">
                        <img alt="Evolution-Fit"
                             src="/images/logo-big.svg"
                        >
                    </div>
                    <div class="col-12 col-md-4">
                        <ul class="list-unstyled">
                            <li class="nav-item">
                                <nuxt-link class="pl-md-0"
                                           to="/schedule"
                                >
                                    Расписание
                                </nuxt-link>
                            </li>
                            <li class="nav-item">
                                <nuxt-link to="/promos">
                                    Акции
                                </nuxt-link>
                            </li>
                            <li class="nav-item">
                                <nuxt-link to="/cards">
                                    Клубные карты
                                </nuxt-link>
                            </li>
                            <li class="nav-item">
                                <nuxt-link to="/trainers">
                                    Тренеры
                                </nuxt-link>
                            </li>
                            <li class="nav-item">
                                <nuxt-link to="/contacts">
                                    Контакты
                                </nuxt-link>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 footer__contacts">
                        <ul class="list-unstyled contacts-group-list mb-5">
                            <li class="d-flex align-items-center">
                                <i class="icon-location mr-2" />
                                г. Сургут, ул. 30 лет Победы, д. 66
                            </li>
                            <li class="d-flex align-items-center">
                                <i class="icon-phone mr-2" />
                                <a class="pr-0"
                                   href="tel:93-55-50"
                                >93-55-50</a> / <a class="pl-0"
                                                   href="tel:93-55-59"
                                >93-55-59</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class="icon-message mr-2" />
                                <a href="mailto:evolution.fit.18@inbox.ru">evolution.fit.18@inbox.ru</a>
                            </li>
                        </ul>
                        <v-button class="btn btn_primary"
                                  type="button"
                                  @click.native="showFeedbackModal"
                        >
                            Перезвоните мне
                        </v-button>
                        <a class="dev-banner mb-3"
                           href="https://1creator.ru"
                        >
                            Разработка и продвижение - <img src="/images/1creator.svg"
                                                            alt="1CREATOR создание и сопровождение сайтов"
                            >
                        </a>
                        <div class="footer__payments">
                            <img src="/payments/master_card.svg"
                                 alt="MasterCard"
                            >
                            <img src="/payments/visa.svg"
                                 alt="Visa"
                            >
                            <img src="/payments/world.svg"
                                 alt="Мир"
                            >
                            <img src="/payments/sngb.svg"
                                 alt="СНГБ"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <v-button type="button"
                  class="footer__toggle-map"
                  schema="dark"
                  @click.native="d_showMap = !d_showMap"
        >
            Переключить карту
        </v-button>
    </footer>
</template>

<script>
export default {
    name: 'VFooter',
    data() {
        return {
            d_showMap: false,
        };
    },
    methods: {
        showFeedbackModal() {
            window.showFeedbackModal();
        },
    },
};
</script>

<style scoped lang="scss">
.footer {
    position: relative;
    flex: 1;

    @include media-breakpoint-down(sm) {
        text-align: center;
    }

    a {
        color: white;

        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }

    .footer__map {
        height: 100% !important;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: none !important;
        border-radius: 0;
    }

    .footer__content {
        padding: 130px 0;
        background: rgba(19, 19, 19, 0.9);
        position: relative;
        transition: opacity 0.2s ease-in;
        min-height: 100%;
    }

    .footer__toggle-map {
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
    }

    .footer__contacts {
        color: $primary;

        a {
            color: $primary;

            &:hover {
                color: white;
            }
        }
    }

    .footer__content_hidden {
        opacity: 0;
        pointer-events: none;
    }

    .footer__payments {
        opacity: 0.5;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 15px;
        justify-content: flex-start;
    }
}
</style>
