<template>
    <nav class="navbar">
        <div class="container text-center">
            <div class="d-flex flex-column flex-md-row align-items-center mb-2">
                <nuxt-link class="navbar__brand link link_dark"
                           to="/"
                >
                    <img src="/logo-small.svg">
                    Evolution Fit
                </nuxt-link>
                <div class="d-flex flex-column flex-md-row ml-md-auto font-weight-bold">
                    <div class="navbar__schedule">
                        <div>Пн-Пт: с 7<sup>00</sup> до 23<sup>00</sup></div>
                        <div>Сб-Вс: с 8<sup>00</sup> до 22<sup>00</sup></div>
                    </div>
                    <a href="mailto:evolution.fit.18@inbox.ru"
                       class="link link_dark mx-3"
                    >evolution.fit.18@inbox.ru</a>
                    <div>
                        <a class="pr-0 link link_dark"
                           href="tel:93-55-50"
                        >93-55-50</a> / <a class="pl-0 pr-0 link link_dark"
                                           href="tel:93-55-59"
                        >93-55-59</a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center flex-column flex-md-row">
                <ul class="list-unstyled d-flex flex-column flex-md-row align-items-center mb-3 mb-md-0">
                    <li>
                        <nuxt-link class="pl-md-0 navbar__link"
                                   to="/schedule"
                        >
                            Расписание
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/promos"
                                   class="navbar__link"
                        >
                            Акции
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/cards"
                                   class="navbar__link"
                        >
                            Клубные карты
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/trainers"
                                   class="navbar__link"
                        >
                            Тренеры
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/contacts"
                                   class="navbar__link"
                        >
                            Контакты
                        </nuxt-link>
                    </li>
                </ul>
                <v-button class="ml-md-auto mr-md-3 mb-3 mb-md-0"
                          type="button"
                          @click.native="d_showFeedbackModal = true"
                >
                    Заказать звонок
                </v-button>
                <v-button v-if="$store.getters['auth/isAuthenticated']"
                          tag="nuxt-link"
                          type="button"
                          schema="dark"
                          :to="$store.getters['auth/homePage']"
                >
                    Личный кабинет
                </v-button>
                <v-button v-else
                          type="button"
                          schema="dark"
                          @click.native="d_showAuthModal = true"
                >
                    Личный кабинет
                </v-button>
            </div>
        </div>
        <auth-modal v-if="d_showAuthModal"
                    @close="d_showAuthModal = false"
        />
        <feedback-modal v-if="d_showFeedbackModal"
                        @close="d_showFeedbackModal = false"
        />
    </nav>
</template>

<script>
export default {
    name: 'VNavbar',
    data() {
        return {
            d_showAuthModal: this.$store.state.auth.showAuthModal,
            d_showFeedbackModal: false,
        };
    },
    mounted() {
        this.$store.commit('auth/updateState', {
            showAuthModal: false,
        });
        window.showAuthModal = () => {
            this.d_showAuthModal = true;
        };
        window.showFeedbackModal = () => {
            this.d_showFeedbackModal = true;
        };
    },
};
</script>

<style scoped lang="scss">
.navbar {
    padding: 30px 0;

    .navbar__link {
        color: $dark;
        padding: 0 8px;

        &:hover {
            color: $primary;
            text-decoration: none;
        }

        &.active {
            color: $primary;
        }
    }

    .navbar__brand {
        font-size: 24px;
        font-weight: 800;
        align-items: center;
        display: flex;
        padding-left: 0;
        text-decoration: none !important;

        img {
            margin-right: 15px;
        }
    }

    .navbar__schedule {
        line-height: 1.3;
        text-align: left;
        font-size: 12px;
        border-right: 1px solid #d2d2d2;
        padding-right: 10px;
        color: #afafaf;

        @include media-breakpoint-down(sm) {
            border-top: 1px solid #d2d2d2;
            border-bottom: 1px solid #d2d2d2;
            border-right: 0;
            padding: 15px 0;
            margin: 15px 0;
            text-align: center;
        }
    }
}
</style>
