<template>
    <div class="promo-card card card_sm">
        <attachment class="mb-3"
                    :attachment="promo.image"
        />
        <div>
            {{ promo.name }}
            <i class="icon-edit promo-card__edit link link_gray"
               @click="d_showEditor = true"
            />

            <promo-editor v-if="d_showEditor"
                          :promo="promo"
                          @close="d_showEditor = false"
                          @update="onUpdate"
                          @remove="onRemove"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: 'PromoCard',
    props: {
        promo: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showEditor: false,
        };
    },
    methods: {
        onUpdate(val, old) {
            this.d_showEditor = false;
            this.$emit('update', val, old);
        },
        onRemove(val) {
            this.d_showEditor = false;
            this.$emit('remove', arguments[0]);
        },
    },
};
</script>

<style scoped lang="scss">
.promo-card {
    border: 1px solid $light;
    position: relative;
    background: white;
}

.promo-card__edit {
    position: absolute;
    top: 5px;
    right: 5px;
}
</style>
