<template>
    <v-overlay :title="d_promo.id ? 'Редактирование акции' : 'Добавление акции'"
               @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <div class="mb-4">
                <attach-area-component v-model="d_promo.image"
                                       label="Выберите или перетащите изображение"
                                       sub-label="Формат файла .jpg, .png до 1 МБ"
                                       :error="d_errors.imageId"
                                       :accept="['.jpg', '.jpeg', '.png']"
                />
                <div class="row">
                    <div class="col-12 mb-3">
                        <v-input v-model="d_promo.name"
                                 label="Название"
                                 :error="d_errors.name"
                        />
                    </div>
                </div>
                <h4>Описание</h4>
                <tiptap v-model="d_promo.description"
                        :editable="true"
                />
            </div>

            <form-errors class="mb-4"
                         :errors="d_errors"
            />

            <div v-if="!d_loading"
                 class="d-flex justify-content-between mt-3"
            >
                <v-button schema="primary">
                    Сохранить
                </v-button>
                <v-button v-if="d_promo.id"
                          type="button"
                          schema="light"
                          :outline="true"
                          @click.native="d_showDelete = true"
                >
                    Удалить
                </v-button>
            </div>
            <loading-component v-else />
        </form>
        <v-notify v-if="d_showDelete"
                  :confirm="true"
                  type="confirm"
                  :fixed="true"
                  @cancel="d_showDelete = false"
                  @close="d_showDelete = false"
                  @confirm="remove"
        >
            Вы подтверждаете удаление?
        </v-notify>
    </v-overlay>
</template>

<script>
import PromoFactory from '~/assets/js/factories/PromoFactory';

export default {
    name: 'PromoEditor',
    props: {
        promo: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_promo: PromoFactory.create(this.promo),
            d_loading: false,
            d_showDelete: false,
            d_errors: {},
        };
    },
    methods: {
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_errors = {};
            try {
                if (this.promo) {
                    const res = await this.$api.promos.update(this.promo.id, this.d_promo);
                    this.$emit('update', res);
                    this.$emit('close');
                } else {
                    const res = await this.$api.promos.store(this.d_promo);
                    this.$emit('store', res);
                    this.$emit('close');
                }
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async remove() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.promos.delete(this.promo.id);
                this.$emit('remove', this.d_promo);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },

    },
};
</script>

<style scoped>

</style>
