<template>
    <div>
        <div class="promos__header">
            <h4 class="mb-0">
                Акции
            </h4>
            <v-button @click.native="d_showEditor = true">
                Добавить
            </v-button>
        </div>
        <div class="promos">
            <promo-card v-for="item in d_items"
                        :key="item.id"
                        :promo="item"
                        @update="onUpdate"
                        @remove="onRemove"
            />
        </div>
        <p v-if="!d_loading && !d_items.length">
            Список пуст
        </p>
        <v-pagination v-show="d_count || d_loading"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
        <promo-editor v-if="d_showEditor"
                      @close="d_showEditor = false"
                      @store="onStore"
        />
    </div>
</template>
<script>
import debounce from 'lodash.debounce';
import UsesPermissions from 'assets/js/mixins/UsesPermissions';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'VPromos',
    mixins: [UsesPermissions, UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
        };
    },
    methods: {
        async fetch({ limit, offset }) {
            return await this.$api.promos.fetch({
                limit,
                offset,
            });
        },
        onUpdate(promo) {
            const idx = this.d_items.findIndex(item => item.id === promo.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1, promo);
            }
            this.d_showEditor = false;
        },
        onStore(promo) {
            this.d_items.splice(0, 0, promo);
            this.d_showEditor = false;
        },
        onRemove(promo) {
            const idx = this.d_items.findIndex(item => item.id === promo.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1);
            }
            this.d_showEditor = false;
        },
        debouncedReset: debounce(function(val) {
            this.$refs.pagination.goToPage(0);
        }, 500),
    },
};
</script>

<style lang="scss" scoped>
.promos {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.promos__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
</style>
