<template>
    <div class="card training-today">
        <v-schedule />
    </div>
</template>

<script>
export default {
    name: 'TrainingsToday',
};
</script>

<style scoped lang="scss">
.training-today {
    overflow: hidden;
}
</style>
