<template>
    <v-overlay :title="d_training.id ? 'Редактирование занятия' : 'Добавление занятия'"
               @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <div class="mb-4">
                <div class="h4">
                    Общая информация
                </div>
                <attach-area-component v-model="d_training.image"
                                       label="Выберите или перетащите изображение"
                                       sub-label="Формат файла .jpg, .png до 1 МБ"
                                       :error="d_errors.imageId"
                                       :accept="['.jpg', '.jpeg', '.png']"
                />
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input v-model="d_training.name"
                                 class="mb-3"
                                 label="Название"
                                 :error="d_errors.name"
                        />
                    </div>
                </div>
                <v-switch v-model="d_training.active"
                          label="Активно"
                />
            </div>
            <div class="mb-4">
                <h4>Описание</h4>
                <tiptap v-model="d_training.description"
                        :editable="true"
                />
            </div>
            <div class="mb-4">
                <h4>Расписание</h4>
                <training-schedule-editor v-model="d_training.schedules" />
            </div>

            <form-errors class="mb-4"
                         :errors="d_errors"
            />

            <div v-if="!d_loading"
                 class="d-flex justify-content-between mt-3"
            >
                <v-button schema="primary">
                    Сохранить
                </v-button>
                <v-button v-if="d_training.id"
                          type="button"
                          schema="light"
                          :outline="true"
                          @click.native="d_showDelete = true"
                >
                    Удалить
                </v-button>
            </div>
            <loading-component v-else />
        </form>
        <v-notify v-if="d_showDelete"
                  :confirm="true"
                  type="confirm"
                  :fixed="true"
                  @cancel="d_showDelete = false"
                  @close="d_showDelete = false"
                  @confirm="remove"
        >
            Вы подтверждаете удаление?
        </v-notify>
    </v-overlay>
</template>

<script>
import TrainingFactory from '~/assets/js/factories/TrainingFactory';

export default {
    name: 'TrainingEditor',
    props: {
        training: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_training: TrainingFactory.create({
                schedules: [],
                ...this.training,
            }),
            d_loading: false,
            d_showDelete: false,
            d_errors: {},
        };
    },
    methods: {
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_errors = {};
            try {
                if (this.training) {
                    const res = await this.$api.trainings.update(this.training.id, this.d_training);
                    this.$emit('update', res);
                    this.$emit('close');
                } else {
                    const res = await this.$api.trainings.store(this.d_training);
                    this.$emit('store', res);
                    this.$emit('close');
                }
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async remove() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.trainings.delete(this.training.id);
                this.$emit('remove', this.d_training);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },

    },
};
</script>

<style scoped>

</style>
