<template>
    <div>
        <div v-for="(schedule, idx) in value"
             :key="idx"
             class="training-schedule-editor__item"
        >
            <div class="training-schedule-editor__item-idx">
                {{ idx + 1 }}
                <i class="icon-delete link link_gray"
                   role="button"
                   @click="value.splice(idx, 1)"
                />
            </div>
            <el-time-picker :value="[schedule.startTime, schedule.finishTime]"
                            format="HH:mm"
                            value-format="HH:mm"
                            :is-range="true"
                            :clearable="true"
                            class="w-100"
                            @input="onTimeInput(schedule, arguments[0])"
            />
            <div class="training-schedule-editor__days">
                <div v-for="day in d_days"
                     :key="day.id"
                >
                    <v-checkbox v-model="schedule[day.id]"
                                :label="day.name"
                                position="bottom"
                    />
                </div>
            </div>
            <div class="training-schedule-editor__info">
                <v-input v-model="schedule.location"
                         label="Место проведения"
                />
                <trainer-select v-model="schedule.trainer" />
            </div>
        </div>
        <span role="button"
              class="link link_primary link_dashed"
              @click="addSchedule"
        >добавить расписание</span>
    </div>
</template>

<script>
export default {
    name: 'TrainingScheduleEditor',
    props: {
        value: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            d_days: [
                {
                    id: 'mo',
                    name: 'Пн',
                },
                {
                    id: 'tu',
                    name: 'Вт',
                },
                {
                    id: 'we',
                    name: 'Ср',
                },
                {
                    id: 'th',
                    name: 'Чт',
                },
                {
                    id: 'fr',
                    name: 'Пт',
                },
                {
                    id: 'sa',
                    name: 'Сб',
                },
                {
                    id: 'su',
                    name: 'Вс',
                },
            ],
        };
    },
    methods: {
        addSchedule() {
            this.value.push({
                startTime: '10:00',
                finishTime: '12:00',
                mo: false,
                tu: false,
                we: false,
                th: false,
                fr: false,
                sa: false,
                su: false,
                trainer: null,
                location: null,
            });
        },
        onTimeInput(schedule, val) {
            schedule.startTime = val[0];
            schedule.finishTime = val[1];
        },
    },
};
</script>

<style scoped lang="scss">
.training-schedule-editor__item {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.training-schedule-editor__item {
    margin-bottom: 30px;
}

.training-schedule-editor__info {
    grid-row: 2;
    grid-column: 2/9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.training-schedule-editor__item-idx {
    grid-column: 1;
    grid-row: 1/3;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #e1e1e1;
    display: grid;
    grid-gap: 10px;
    text-align: center;

    i {
        font-size: 18px;
    }
}

.training-schedule-editor__days {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;

    @include media-breakpoint-down(md) {
        grid-column: 1/3;
        font-size: 12px;
        grid-gap: 10px;
        grid-template-rows: 1fr 1fr;
    }
}
</style>
