<template>
    <v-select ref="select"
              v-model="c_value"
              placeholder="Выберите занятие"
              label="name"
              :searchable="true"
              :options="d_options"
              :loading="d_loading"
              :allow-empty="allowEmpty"
              :internal-search="false"
              track-by="id"
              @search-change="onSearch"
    />
</template>

<script>
import debounce from 'lodash.debounce';

export default {
    name: 'TrainingSelect',
    props: {
        value: {
            type: Object,
            default: null,
        },
        allowEmpty: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            d_options: [],
            d_loading: false,
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit('input', val);
            },
        },
    },
    methods: {
        debouncedSearch: debounce(async function(val) {
            this.d_options = val
                ? (await this.$api.trainings.fetch({
                    search: val,
                    limit: 50,
                })).results : [];
            this.d_loading = false;
        }, 500),
        onSearch(val) {
            this.d_loading = true;
            this.debouncedSearch(val);
        },
    },
};
</script>

<style scoped>

</style>
