<template>
    <div>
        <loading-component v-if="d_loading" />
        <template v-else>
            <v-search v-model="d_search"
                      class="mb-3"
            />
            <div class="training-list-select__items">
                <v-checkbox v-for="training in c_items"
                            :key="training.id"
                            v-model="c_value"
                            track-by="id"
                            :checkbox-value="training"
                            :label="training.name"
                />
            </div>
        </template>
    </div>
</template>

<script>

export default {
    name: 'TrainingListSelect',
    props: {
        value: {
            type: Array,
            default: null,
        },
    },
    async fetch() {
        this.d_loading = true;
        this.d_items = (await this.$api.trainings.fetch({
            limit: 999,
        })).results;
        this.d_loading = false;
    },
    data() {
        return {
            d_items: [],
            d_search: null,
            d_loading: false,
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit('input', val);
            },
        },
        c_items() {
            let res = [];
            if (!this.d_search) {
                res = this.d_items;
            } else {
                const lowQuery = this.d_search.toLowerCase();
                res = this.d_items.filter(t => t.name.toLowerCase().includes(lowQuery));
            }
            return res.sort((a, b) => a.name > b.name ? 1 : -1);
        },
    },
};
</script>

<style scoped lang="scss">
.training-list-select__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
</style>
