<template>
    <div class="card card_sm training-card">
        <attachment :attachment="training.image" />
        <div>
            {{ training.name }}
            <div class="training-card__schedules">
                <div v-for="(schedule, idx) in training.schedules"
                     :key="idx"
                >
                    {{ formatSchedule(schedule) }}
                </div>
            </div>
            <i class="icon-edit training-card__edit link link_gray"
               @click="d_showEditor = true"
            />

            <training-editor v-if="d_showEditor"
                             :training="training"
                             @close="d_showEditor = false"
                             @update="onUpdate"
                             @remove="onRemove"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: 'TrainingCard',
    props: {
        training: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showEditor: false,
        };
    },
    methods: {
        onUpdate(val, old) {
            this.d_showEditor = false;
            this.$emit('update', val, old);
        },
        onRemove(val) {
            this.d_showEditor = false;
            this.$emit('remove', arguments[0]);
        },
        formatSchedule(schedule) {
            const days = [];
            const i18n = {
                mo: 'Пн',
                tu: 'Вт',
                we: 'Ср',
                th: 'Чт',
                fr: 'Пт',
                sa: 'Сб',
                su: 'Вс',
            };
            for (const key of Object.keys(i18n)) {
                if (schedule[key]) {
                    days.push(i18n[key]);
                }
            }
            return `${days.join(', ')} - с ${schedule.startTime.slice(0, -3)} по ${schedule.finishTime.slice(0, -3)}`;
        },
    },
};
</script>

<style scoped lang="scss">
.training-card {
    position: relative;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    grid-gap: 15px;

    &:hover {
        background: $light;
    }
}

.training-card__edit {
    position: absolute;
    top: 5px;
    right: 5px;
}

.training-card__schedules {
    font-size: 12px;
    line-height: 14px;
    color: $gray;
}
</style>
