<template>
    <div>
        <div class="trainings__header">
            <v-search v-model="d_searchQuery"
                      @input="debouncedReset"
            />
            <v-button @click.native="d_showEditor = true">
                Добавить
            </v-button>
        </div>
        <div class="trainings">
            <training-card v-for="item in d_items"
                           :key="item.id"
                           :training="item"
                           @update="onUpdate"
                           @remove="onRemove"
            />
        </div>
        <p v-if="!d_loading && !d_items.length">
            Список пуст
        </p>
        <v-pagination v-show="d_count || d_loading"
                      ref="pagination"
                      class="mt-5"
                      :items.sync="d_items"
                      :loading.sync="d_loading"
                      :offset.sync="d_offset"
                      :limit.sync="d_limit"
                      :count.sync="d_count"
                      :fetch="fetch"
        />
        <training-editor v-if="d_showEditor"
                         @close="d_showEditor = false"
                         @store="onStore"
        />
    </div>
</template>
<script>
import debounce from 'lodash.debounce';
import UsesPermissions from 'assets/js/mixins/UsesPermissions';
import UsesPagination from '~/assets/js/mixins/UsesPagination';

export default {
    name: 'VTrainings',
    mixins: [UsesPermissions, UsesPagination],
    data() {
        return {
            d_showEditor: null,
            d_loading: false,
            d_searchQuery: null,
        };
    },
    methods: {
        async fetch({ limit, offset }) {
            return await this.$api.trainings.fetch({
                limit,
                offset,
                search: this.d_searchQuery || undefined,
            });
        },
        onUpdate(training) {
            const idx = this.d_items.findIndex(item => item.id === training.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1, training);
            }
            this.d_showEditor = false;
        },
        onStore(training) {
            this.d_items.splice(0, 0, training);
            this.d_showEditor = false;
        },
        onRemove(training) {
            const idx = this.d_items.findIndex(item => item.id === training.id);
            if (idx >= 0) {
                this.d_items.splice(idx, 1);
            }
            this.d_showEditor = false;
        },
        debouncedReset: debounce(function(val) {
            this.$refs.pagination.goToPage(0);
        }, 500),
    },
};
</script>

<style lang="scss">
.trainings {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.trainings__header {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 15px;
}
</style>
