<template>
    <v-overlay :title="d_subscription.id ? 'Редактирование абонемента' : 'Добавление абонемента'"
               @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <div class="mb-4">
                <attach-area-component v-model="d_subscription.image"
                                       label="Выберите или перетащите изображение"
                                       sub-label="Формат файла .jpg, .png до 1 МБ"
                                       :error="d_errors.imageId"
                                       :accept="['.jpg', '.jpeg', '.png']"
                />
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_subscription.name"
                                 label="Название"
                                 :error="d_errors.name"
                        />
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_subscription.price"
                                 label="Стоимость"
                                 :error="d_errors.price"
                        />
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_subscription.daysCount"
                                 label="Количество дней"
                                 :error="d_errors.daysCount"
                        />
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_subscription.useCount"
                                 label="Количество использований"
                                 :error="d_errors.useCount"
                        />
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_subscription.ordering"
                                 label="Сортировка"
                                 :error="d_errors.ordering"
                        />
                    </div>
                </div>
                <div class="mb-4">
                    <h4>Описание</h4>
                    <tiptap v-model="d_subscription.description"
                            :editable="true"
                    />
                </div>
                <div>
                    <h4>Тренировки</h4>
                    <v-checkbox v-model="d_subscription.isUnlimited"
                                label="Безлимитный абонемент"
                                class="mb-3"
                    />
                    <transition-collapse>
                        <div v-if="!d_subscription.isUnlimited">
                            <training-list-select v-model="d_subscription.trainings" />
                        </div>
                    </transition-collapse>
                </div>
            </div>

            <form-errors class="mb-4"
                         :errors="d_errors"
            />

            <div v-if="!d_loading"
                 class="d-flex justify-content-between mt-3"
            >
                <v-button schema="primary">
                    Сохранить
                </v-button>
                <v-button v-if="d_subscription.id"
                          type="button"
                          schema="light"
                          :outline="true"
                          @click.native="d_showDelete = true"
                >
                    Удалить
                </v-button>
            </div>
            <loading-component v-else />
        </form>
        <v-notify v-if="d_showDelete"
                  :confirm="true"
                  type="confirm"
                  :fixed="true"
                  @cancel="d_showDelete = false"
                  @close="d_showDelete = false"
                  @confirm="remove"
        >
            Вы подтверждаете удаление?
        </v-notify>
    </v-overlay>
</template>

<script>
import SubscriptionFactory from '~/assets/js/factories/SubscriptionFactory';

export default {
    name: 'SubscriptionEditor',
    props: {
        subscription: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_subscription: {
                trainings: [],
                ...SubscriptionFactory.create(this.subscription),
            },
            d_loading: false,
            d_showDelete: false,
            d_errors: {},
        };
    },
    methods: {
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_errors = {};
            try {
                if (this.subscription) {
                    const res = await this.$store.dispatch('subscriptions/update', {
                        id: this.subscription.id,
                        data: this.d_subscription,
                    });
                    this.$emit('update', res);
                } else {
                    const res = await this.$store.dispatch('subscriptions/store', this.d_subscription);
                    this.$emit('store', res);
                }
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
        async remove() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$store.dispatch('subscriptions/remove', this.subscription.id);
                this.$emit('remove', this.d_subscription);
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
