<template>
    <v-select ref="select"
              v-model="c_value"
              placeholder="Выберите абонемент"
              label="name"
              :searchable="true"
              :options="$store.state.subscriptions.items"
    />
</template>

<script>
export default {
    name: 'SubscriptionSelect',
    props: {
        value: {
            type: Object,
            default: null,
        },
        loadId: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {
            d_options: [],
            d_loading: false,
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit('input', val);
            },
        },
    },
};
</script>

<style scoped>

</style>
