<template>
    <div>
        <div class="subscription-card card card_sm"
             @click="d_showModal = true"
        >
            <attachment :attachment="subscription.image" />
            <div>
                <div class="h4 mb-2">
                    {{ subscription.name }}
                </div>
                <div class="subscription-card__info">
                    {{ c_price }} ₽, {{ subscription.daysCount }} дней
                </div>
            </div>

            <i v-if="$store.getters['auth/isAdmin']"
               class="icon-edit subscription-card__edit link link_gray"
               @click.stop="d_showEditor = true"
            />
            <subscription-editor v-if="d_showEditor"
                                 :subscription="subscription"
                                 @close="d_showEditor = false"
                                 @update="onUpdate"
                                 @remove="onRemove"
            />
        </div>
        <subscription-buy-modal v-if="d_showModal"
                                :subscription="subscription"
                                @close="d_showModal = false"
        />
    </div>
</template>

<script>
export default {
    name: 'SubscriptionCard',
    props: {
        subscription: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            d_showEditor: false,
            d_showModal: false,
        };
    },
    computed: {
        c_price() {
            return new Intl.NumberFormat('ru-RU').format(this.subscription.price);
        },
    },
    methods: {
        onUpdate(val, old) {
            this.d_showEditor = false;
            this.$emit('update', val, old);
        },
        onRemove(val) {
            this.d_showEditor = false;
            this.$emit('remove', arguments[0]);
        },
    },
};
</script>

<style scoped lang="scss">
.subscription-card {
    position: relative;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    grid-gap: 15px;

    &:hover {
        background: $light;
    }
}

.subscription-card__edit {
    position: absolute;
    top: 5px;
    right: 5px;
}

.subscription-card__info {
    font-size: 12px;
    line-height: 14px;
    color: $gray;
}
</style>
