<template>
    <v-modal title="Выдача абонемента"
             @close="$emit('close')"
    >
        <form @submit.prevent="submit">
            <user-select v-model="d_data.user"
                         class="mb-3"
            />
            <subscription-select v-model="d_data.subscription"
                                 class="mb-3"
            />
            <form-errors v-if="d_errors"
                         class="mb-3"
                         :errors="d_errors"
            />
            <loading-component v-if="d_loading" />
            <v-button v-else>
                Выдать абонемент
            </v-button>
        </form>
    </v-modal>
</template>

<script>
export default {
    name: 'SubscriptionGiveModal',
    props: {
        user: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_data: {
                user: this.user,
                subscription: null,
            },
            d_loading: false,
            d_errors: null,
        };
    },
    methods: {
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = false;
            this.d_errors = null;
            try {
                const res = await this.$api.userSubscriptions.store(this.d_data);
                this.$emit('store', res);
                this.$emit('close');
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped lang="scss">
.product-give__info {
    background: $warning;
    border-radius: 10px;
    padding: 15px;
}
</style>
